# üîπUFC Fight Predictor ETL

<div style="text-align: center;">
  üîπ <img src="../img/ufc_logo.png" width="50" /> üîπ
</div>

# Import Libraries and Setup Environment

In [1]:
import os
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import logging
logging.basicConfig(level=logging.INFO, format='[%(levelname)s] %(message)s')
logger = logging.getLogger(__name__)

# Get the current working directory
current_dir = os.getcwd()

# Navigate to the project root
project_root = os.path.abspath(os.path.join(current_dir, '..'))

# Import from /src
sys.path.append(os.path.join(project_root))
from src.helpers import *
from src.data import UFCData

<div style="text-align: center;">
  üîπ <img src="../img/ufc_logo.png" width="50" /> üîπ
</div>

# Load Data

In [2]:
# Define the path to the CSV file
file_path = os.path.join(project_root, 'data', 'raw', 'ufc_raw.csv')

# Load the CSV into a DataFrame
try:
    ufc_raw = pd.read_csv(file_path)
    logger.info(f"‚úÖ Data successfully loaded: {ufc_raw.shape[0]} rows, {ufc_raw.shape[1]} columns.")
except Exception as e:
    logger.error(f"‚ùå Error loading training data: {e}")

[INFO] ‚úÖ Data successfully loaded: 8250 rows, 124 columns.

<div style="text-align: center;">
  üîπ <img src="../img/ufc_logo.png" width="50" /> üîπ
</div>

# Preview

In [3]:
# Preview the first few records
display(ufc_raw.head())

# General dataset information
ufc_raw.info()

,event_id,event_name,date,location,fight_id,division,title_fight,method,finish_round,match_time_sec,...,b_splm,b_str_acc,b_sapm,b_str_def,b_td_avg,b_td_avg_acc,b_td_def,b_sub_avg,winner,winner_id
0,400c7b43c86d27d3,UFC Fight Night: Hill vs. Rountree Jr.,2025/06/21,"Baku, Azerbaijan",36ec204f47e4d613,catch weight,0,Submission,1,275,...,3.11,48,3.08,50,5.82,45,40,0.7,Myktybek Orolbai,bf2c8e01b07d3eb1
1,400c7b43c86d27d3,UFC Fight Night: Hill vs. Rountree Jr.,2025/06/21,"Baku, Azerbaijan",a1afc16e21d1a807,lightweight,0,Decision - Unanimous,3,300,...,6.55,45,4.33,56,0.00,0,75,0.4,Rafael Fiziev,c814b4c899793af6
2,400c7b43c86d27d3,UFC Fight Night: Hill vs. Rountree Jr.,2025/06/21,"Baku, Azerbaijan",7513a00037094075,lightweight,0,KO/TKO,2,257,...,4.13,38,5.28,52,0.00,0,83,0.0,Nazim Sadykhov,ff62013d2fce6d13
3,400c7b43c86d27d3,UFC Fight Night: Hill vs. Rountree Jr.,2025/06/21,"Baku, Azerbaijan",e512b80bbaea36c2,welterweight,0,Decision - Unanimous,3,300,...,3.50,48,2.24,60,1.70,44,55,0.0,Seokhyeon Ko,4a07b1988477502c
4,400c7b43c86d27d3,UFC Fight Night: Hill vs. Rountree Jr.,2025/06/21,"Baku, Azerbaijan",03bc32bdb5a33496,light heavyweight,0,Decision - Unanimous,5,300,...,3.79,40,4.24,49,0.00,0,58,0.1,Khalil Rountree Jr.,749f572d1d3161fb

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8250 entries, 0 to 8249
Columns: 124 entries, event_id to winner_id
dtypes: float64(87), int64(17), object(20)
memory usage: 7.8+ MB

<div style="text-align: center;">
  üîπ <img src="../img/ufc_logo.png" width="50" /> üîπ
</div>

# Check

In [4]:
pd.set_option('display.max_rows', None)

In [5]:
# Null values check
nulls = ufc_raw.isnull().sum()
print("\nNull values per column:\n", nulls[nulls > 0])

# Duplicate analysis
duplicates = ufc_raw.duplicated().sum()
print(f"\nDuplicate rows: {duplicates}")

Null values per column:
 total_rounds             31
referee                  26
r_kd                     21
r_sig_str_landed         21
r_sig_str_atmpted        21
r_sig_str_acc            59
r_total_str_landed       21
r_total_str_atmpted      21
r_total_str_acc          48
r_td_landed              21
r_td_atmpted             21
r_td_acc               2658
r_sub_att                21
r_ctrl                  202
r_head_landed            21
r_head_atmpted           21
r_head_acc               99
r_body_landed            21
r_body_atmpted           21
r_body_acc              851
r_leg_landed             21
r_leg_atmpted            21
r_leg_acc              1568
r_dist_landed            21
r_dist_atmpted           21
r_dist_acc              139
r_clinch_landed          21
r_clinch_atmpted         21
r_clinch_acc           1977
r_ground_landed          21
r_ground_atmpted         21
r_ground_acc           2916
r_landed_head_per        21
r_landed_body_per        21
r_landed_leg_per         21
r_landed_dist_per        21
r_landed_clinch_per      21
r_landed_ground_per      21
r_nick_name            2310
r_height                  5
r_weight                  3
r_reach                 420
r_stance                 26
r_dob                    69
b_kd                     21
b_sig_str_landed         21
b_sig_str_atmpted        21
b_sig_str_acc            78
b_total_str_landed       21
b_total_str_atmpted      21
b_total_str_acc          57
b_td_landed              21
b_td_atmpted             21
b_td_acc               3089
b_sub_att                21
b_ctrl                  202
b_head_landed            21
b_head_atmpted           21
b_head_acc              156
b_body_landed            21
b_body_atmpted           21
b_body_acc              990
b_leg_landed             21
b_leg_atmpted            21
b_leg_acc              1553
b_dist_landed            21
b_dist_atmpted           21
b_dist_acc              128
b_clinch_landed          21
b_clinch_atmpted         21
b_clinch_acc           2015
b_ground_landed          21
b_ground_atmpted         21
b_ground_acc           3770
b_landed_head_per        21
b_landed_body_per        21
b_landed_leg_per         21
b_landed_dist_per        21
b_landed_clinch_per      21
b_landed_ground_per      21
b_nick_name            2367
b_height                 21
b_weight                 19
b_reach                 901
b_stance                 70
b_dob                   182
winner                  146
winner_id               146
dtype: int64

Duplicate rows: 0

In [6]:
for col in ufc_raw.columns:
    print(col)

event_id
event_name
date
location
fight_id
division
title_fight
method
finish_round
match_time_sec
total_rounds
referee
r_name
r_id
r_kd
r_sig_str_landed
r_sig_str_atmpted
r_sig_str_acc
r_total_str_landed
r_total_str_atmpted
r_total_str_acc
r_td_landed
r_td_atmpted
r_td_acc
r_sub_att
r_ctrl
r_head_landed
r_head_atmpted
r_head_acc
r_body_landed
r_body_atmpted
r_body_acc
r_leg_landed
r_leg_atmpted
r_leg_acc
r_dist_landed
r_dist_atmpted
r_dist_acc
r_clinch_landed
r_clinch_atmpted
r_clinch_acc
r_ground_landed
r_ground_atmpted
r_ground_acc
r_landed_head_per
r_landed_body_per
r_landed_leg_per
r_landed_dist_per
r_landed_clinch_per
r_landed_ground_per
r_nick_name
r_wins
r_losses
r_draws
r_height
r_weight
r_reach
r_stance
r_dob
r_splm
r_str_acc
r_sapm
r_str_def
r_td_avg
r_td_avg_acc
r_td_def
r_sub_avg
b_name
b_id
b_kd
b_sig_str_landed
b_sig_str_atmpted
b_sig_str_acc
b_total_str_landed
b_total_str_atmpted
b_total_str_acc
b_td_landed
b_td_atmpted
b_td_acc
b_sub_att
b_ctrl
b_head_landed
b_head_atmpted
b_head_acc
b_body_landed
b_body_atmpted
b_body_acc
b_leg_landed
b_leg_atmpted
b_leg_acc
b_dist_landed
b_dist_atmpted
b_dist_acc
b_clinch_landed
b_clinch_atmpted
b_clinch_acc
b_ground_landed
b_ground_atmpted
b_ground_acc
b_landed_head_per
b_landed_body_per
b_landed_leg_per
b_landed_dist_per
b_landed_clinch_per
b_landed_ground_per
b_nick_name
b_wins
b_losses
b_draws
b_height
b_weight
b_reach
b_stance
b_dob
b_splm
b_str_acc
b_sapm
b_str_def
b_td_avg
b_td_avg_acc
b_td_def
b_sub_avg
winner
winner_id

In [7]:
pd.reset_option('display.max_rows')

<div style="text-align: center;">
  üîπ <img src="../img/ufc_logo.png" width="50" /> üîπ
</div>

# Create Temporal Features

## Data Leakage

In [8]:
ufc_raw[ufc_raw['b_name'] == 'Rafael Fiziev'][['b_name', 'event_name','b_wins', 'b_losses', 'b_draws','b_splm','b_str_acc', 'b_sapm', 'b_str_def', 'b_td_avg', 'b_td_acc', 'b_td_def', 'b_sub_avg']]

,b_name,event_name,b_wins,b_losses,b_draws,b_splm,b_str_acc,b_sapm,b_str_def,b_td_avg,b_td_acc,b_td_def,b_sub_avg
169,Rafael Fiziev,UFC 313: Pereira vs. Ankalaev,13,4,0,4.77,52,4.77,50,0.89,100.0,90,0.0
1193,Rafael Fiziev,UFC 286: Edwards vs. Usman 3,13,4,0,4.77,52,4.77,50,0.89,NaN,90,0.0
1536,Rafael Fiziev,UFC Fight Night: Dos Anjos vs. Fiziev,13,4,0,4.77,52,4.77,50,0.89,0.0,90,0.0
1853,Rafael Fiziev,UFC Fight Night: Font vs. Aldo,13,4,0,4.77,52,4.77,50,0.89,NaN,90,0.0
2034,Rafael Fiziev,UFC 265: Lewis vs. Gane,13,4,0,4.77,52,4.77,50,0.89,NaN,90,0.0
2341,Rafael Fiziev,UFC 256: Figueiredo vs. Moreno,13,4,0,4.77,52,4.77,50,0.89,0.0,90,0.0
2570,Rafael Fiziev,UFC Fight Night: Figueiredo vs. Benavidez 2,13,4,0,4.77,52,4.77,50,0.89,50.0,90,0.0
2861,Rafael Fiziev,UFC Fight Night: Maia vs. Askren,13,4,0,4.77,52,4.77,50,0.89,100.0,90,0.0
3153,Rafael Fiziev,UFC Fight Night: Overeem vs. Oleinik,13,4,0,4.77,52,4.77,50,0.89,NaN,90,0.0

In [9]:
ufc_raw = ufc_raw.drop(['b_wins', 'b_losses', 'b_draws','b_splm','b_str_acc', 'b_sapm', 'b_str_def', 'b_td_avg', 'b_td_acc', 'b_td_def', 'b_sub_avg',
                       'r_wins', 'r_losses', 'r_draws','r_splm','r_str_acc', 'r_sapm', 'r_str_def', 'r_td_avg', 'r_td_acc', 'r_td_def', 'r_sub_avg'], axis=1)

## Create Winner Corner

In [10]:
ufc_raw['winner_corner'] = ufc_raw.apply(
    lambda row: 'Red' if row['winner'] == row['r_name'] 
    else ('Blue' if row['winner'] == row['b_name'] else None), 
    axis=1
)
ufc_raw['winner_corner_bin'] = ufc_raw['winner_corner'].map({'Red': 0, 'Blue': 1, None: 2})
ufc_raw[['r_name', 'b_name', 'winner', 'winner_corner', 'winner_corner_bin']].head()

,r_name,b_name,winner,winner_corner,winner_corner_bin
0,Tofiq Musayev,Myktybek Orolbai,Myktybek Orolbai,Blue,1
1,Rafael Fiziev,Ignacio Bahamondes,Rafael Fiziev,Red,0
2,Nazim Sadykhov,Nikolas Motta,Nazim Sadykhov,Red,0
3,Seokhyeon Ko,Oban Elliott,Seokhyeon Ko,Red,0
4,Jamahal Hill,Khalil Rountree Jr.,Khalil Rountree Jr.,Blue,1

## Check Fights with no winners

In [11]:
ufc_raw['winner_corner'].unique()

array(['Blue', 'Red', None], dtype=object)

In [12]:
ufc_raw[ufc_raw['winner_corner'] == None]

Empty DataFrame
Columns: [event_id, event_name, date, location, fight_id, division, title_fight, method, finish_round, match_time_sec, total_rounds, referee, r_name, r_id, r_kd, r_sig_str_landed, r_sig_str_atmpted, r_sig_str_acc, r_total_str_landed, r_total_str_atmpted, r_total_str_acc, r_td_landed, r_td_atmpted, r_sub_att, r_ctrl, r_head_landed, r_head_atmpted, r_head_acc, r_body_landed, r_body_atmpted, r_body_acc, r_leg_landed, r_leg_atmpted, r_leg_acc, r_dist_landed, r_dist_atmpted, r_dist_acc, r_clinch_landed, r_clinch_atmpted, r_clinch_acc, r_ground_landed, r_ground_atmpted, r_ground_acc, r_landed_head_per, r_landed_body_per, r_landed_leg_per, r_landed_dist_per, r_landed_clinch_per, r_landed_ground_per, r_nick_name, r_height, r_weight, r_reach, r_stance, r_dob, r_td_avg_acc, b_name, b_id, b_kd, b_sig_str_landed, b_sig_str_atmpted, b_sig_str_acc, b_total_str_landed, b_total_str_atmpted, b_total_str_acc, b_td_landed, b_td_atmpted, b_sub_att, b_ctrl, b_head_landed, b_head_atmpted, b_head_acc, b_body_landed, b_body_atmpted, b_body_acc, b_leg_landed, b_leg_atmpted, b_leg_acc, b_dist_landed, b_dist_atmpted, b_dist_acc, b_clinch_landed, b_clinch_atmpted, b_clinch_acc, b_ground_landed, b_ground_atmpted, b_ground_acc, b_landed_head_per, b_landed_body_per, b_landed_leg_per, b_landed_dist_per, b_landed_clinch_per, b_landed_ground_per, b_nick_name, b_height, b_weight, b_reach, b_stance, b_dob, b_td_avg_acc, ...]
Index: []

[0 rows x 104 columns]

In [13]:
ufc_raw['winner_corner_bin'].unique()

array([1, 0, 2])

In [14]:
ufc_raw[ufc_raw['winner_corner_bin'] == 2].tail()

,event_id,event_name,date,location,fight_id,division,title_fight,method,finish_round,match_time_sec,...,b_height,b_weight,b_reach,b_stance,b_dob,b_td_avg_acc,winner,winner_id,winner_corner,winner_corner_bin
8033,afaad7d6a581e307,UFC 22: Only One Can be Champion,1999/09/24,"Lake Charles, Louisiana, USA",96c247ba0eb1ac65,heavyweight,0,Decision - Unanimous,3,300,...,187.96,127.01,NaN,Orthodox,1965/11/23,69,NaN,NaN,None,2
8041,afaad7d6a581e307,UFC 22: Only One Can be Champion,1999/09/24,"Lake Charles, Louisiana, USA",a1c1e3c1e9c6cf1e,lightweight,0,Decision - Majority,2,300,...,160.02,65.77,NaN,NaN,1970/06/10,0,NaN,NaN,None,2
8110,29f935654825331b,UFC - Ultimate Japan,1997/12/21,"Yokohama, Kanagawa, Japan",2750ac5854e8b28b,heavyweight,0,Overturned,1,111,...,190.50,109.77,NaN,Orthodox,NaN,0,NaN,NaN,None,2
8213,5af480a3b2e1726b,UFC 7: The Brawl in Buffalo,1995/09/08,"Buffalo, New York, USA",3932f8e9a74f3d11,superfight championship,0,Other,2,180,...,182.88,95.25,NaN,Orthodox,1967/08/26,0,NaN,NaN,None,2
8240,dedc3bb440d09554,UFC 5: The Return of the Beast,1995/04/07,"Charlotte, North Carolina, USA",db8df615610f3632,superfight championship,0,Other,2,300,...,185.42,79.38,NaN,Southpaw,1966/12/12,0,NaN,NaN,None,2

In [15]:
draw_methods = ['Decision - Majority', 'Decision - Split', 'Decision - Unanimous']

def determine_winner(row):
    if row['winner'] == row['r_name']:
        return 'Red'
    elif row['winner'] == row['b_name']:
        return 'Blue'
    elif row['method'] in draw_methods:
        return 'Draw'
    else:
        return None

ufc_raw['winner_corner'] = ufc_raw.apply(determine_winner, axis=1)

ufc_raw['winner_corner_bin'] = ufc_raw['winner_corner'].map({
    'Red': 0,
    'Blue': 1,
    'Draw': 2,
    None: 3
})

ufc_raw[ufc_raw['winner_corner_bin']==3]

,event_id,event_name,date,location,fight_id,division,title_fight,method,finish_round,match_time_sec,...,b_height,b_weight,b_reach,b_stance,b_dob,b_td_avg_acc,winner,winner_id,winner_corner,winner_corner_bin
66,de277a4abcfeea46,UFC Fight Night: Usman vs. Buckley,2025/06/14,"Atlanta, Georgia, USA",13e2ff8b3a122094,light heavyweight,0,Could Not Continue,1,299,...,190.50,92.99,190.50,Orthodox,1996/02/05,36,NaN,NaN,None,3
511,66e0a70352fef46a,UFC Fight Night: Namajunas vs. Cortez,2024/07/13,"Denver, Colorado, USA",46fa8e79fe8a9539,middleweight,0,Could Not Continue,1,37,...,182.88,83.91,182.88,Orthodox,1994/05/16,47,NaN,NaN,None,3
672,c398235fcaf8d71d,UFC Fight Night: Tuivasa vs. Tybura,2024/03/16,"Las Vegas, Nevada, USA",a7fd9da657bbce8e,welterweight,0,Could Not Continue,2,60,...,177.80,77.11,187.96,Orthodox,1993/03/18,39,NaN,NaN,None,3
729,eaea0fc7b76525a8,UFC Fight Night: Hermansson vs. Pyfer,2024/02/10,"Las Vegas, Nevada, USA",6cd542650d886c22,bantamweight,0,Could Not Continue,2,208,...,170.18,61.23,175.26,Orthodox,1993/06/25,46,NaN,NaN,None,3
751,cce79e827569f26e,UFC Fight Night: Dolidze vs. Imavov,2024/02/03,"Las Vegas, Nevada, USA",415ea2520b7ba720,middleweight,0,Could Not Continue,1,11,...,187.96,83.91,190.50,Orthodox,1990/02/08,66,NaN,NaN,None,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7925,9fd1f08dd4aec14a,UFC 37: High Impact,2002/05/10,"Bossier City, Louisiana, USA",fe60fd0ee67902dc,welterweight,0,Overturned,1,27,...,180.34,77.11,NaN,Orthodox,1973/05/20,40,NaN,NaN,None,3
7973,2b1587a3376ab743,UFC 30: Battle on the Boardwalk,2001/02/23,"Atlantic City, New Jersey, USA",651da45cc83ce011,heavyweight,0,Overturned,1,207,...,182.88,120.20,NaN,Orthodox,NaN,0,NaN,NaN,None,3
8110,29f935654825331b,UFC - Ultimate Japan,1997/12/21,"Yokohama, Kanagawa, Japan",2750ac5854e8b28b,heavyweight,0,Overturned,1,111,...,190.50,109.77,NaN,Orthodox,NaN,0,NaN,NaN,None,3
8213,5af480a3b2e1726b,UFC 7: The Brawl in Buffalo,1995/09/08,"Buffalo, New York, USA",3932f8e9a74f3d11,superfight championship,0,Other,2,180,...,182.88,95.25,NaN,Orthodox,1967/08/26,0,NaN,NaN,None,3
8240,dedc3bb440d09554,UFC 5: The Return of the Beast,1995/04/07,"Charlotte, North Carolina, USA",db8df615610f3632,superfight championship,0,Other,2,300,...,185.42,79.38,NaN,Southpaw,1966/12/12,0,NaN,NaN,None,3

In [16]:
ufc_raw = ufc_raw[ufc_raw['winner_corner_bin'] != 3].copy()

In [17]:
ufc_raw['winner_corner_bin'].unique()

array([1, 0, 2])

## Create Historical Wins-Losses, Win-Lose streaks(current/longest) columns

In [18]:
# Convert to datetime
ufc_raw['date'] = pd.to_datetime(ufc_raw['date'], errors='coerce')
ufc_raw = ufc_raw.sort_values('date').reset_index(drop=True)
ufc_raw['date']

0      1994-03-11
1      1994-03-11
2      1994-03-11
3      1994-03-11
4      1994-03-11
          ...
8156   2025-07-12
8157   2025-07-12
8158   2025-07-12
8159   2025-07-12
8160   2025-07-12
Name: date, Length: 8161, dtype: datetime64[ns]

In [19]:
# Initialize columns
for corner in ['r', 'b']:
    ufc_raw[f'{corner}_wins'] = 0
    ufc_raw[f'{corner}_losses'] = 0
    ufc_raw[f'{corner}_draws'] = 0
    ufc_raw[f'{corner}_total_fights'] = 0
    ufc_raw[f'{corner}_current_win_streak'] = 0
    ufc_raw[f'{corner}_current_lose_streak'] = 0
    ufc_raw[f'{corner}_longest_win_streak'] = 0
    ufc_raw[f'{corner}_longest_lose_streak'] = 0

# Dictionary to keep track of fighter history
history = {}

# Loop through all fights
for idx, row in ufc_raw.iterrows():
    for corner in ['r', 'b']:
        fighter = row[f"{corner}_name"]

        # Initialize history if fighter is new
        if fighter not in history:
            history[fighter] = {
                'wins': 0,
                'losses': 0,
                'draws': 0,
                'win_streak': 0,
                'lose_streak': 0,
                'longest_win_streak': 0,
                'longest_lose_streak': 0
            }

        # Save prior stats before the fight
        stats = history[fighter]
        total = stats['wins'] + stats['losses'] + stats['draws']

        ufc_raw.at[idx, f"{corner}_wins"] = stats['wins']
        ufc_raw.at[idx, f"{corner}_losses"] = stats['losses']
        ufc_raw.at[idx, f"{corner}_draws"] = stats['draws']
        ufc_raw.at[idx, f"{corner}_total_fights"] = total
        ufc_raw.at[idx, f"{corner}_current_win_streak"] = stats['win_streak']
        ufc_raw.at[idx, f"{corner}_current_lose_streak"] = stats['lose_streak']
        ufc_raw.at[idx, f"{corner}_longest_win_streak"] = stats['longest_win_streak']
        ufc_raw.at[idx, f"{corner}_longest_lose_streak"] = stats['longest_lose_streak']

        # Update history with the result of the current fight
        if row['winner_corner'] == 'Red' and corner == 'r':
            stats['wins'] += 1
            stats['win_streak'] += 1
            stats['lose_streak'] = 0
            stats['longest_win_streak'] = max(stats['longest_win_streak'], stats['win_streak'])

        elif row['winner_corner'] == 'Blue' and corner == 'b':
            stats['wins'] += 1
            stats['win_streak'] += 1
            stats['lose_streak'] = 0
            stats['longest_win_streak'] = max(stats['longest_win_streak'], stats['win_streak'])

        elif row['winner_corner'] in ['Red', 'Blue']:
            stats['losses'] += 1
            stats['lose_streak'] += 1
            stats['win_streak'] = 0
            stats['longest_lose_streak'] = max(stats['longest_lose_streak'], stats['lose_streak'])

        elif row['winner_corner'] == 'Draw':
            stats['draws'] += 1
            # reset streaks because draw doesn't extend win/lose streak
            stats['win_streak'] = 0
            stats['lose_streak'] = 0
            
# General record differences
ufc_raw['wins_dif'] = ufc_raw['b_wins'] - ufc_raw['r_wins']
ufc_raw['losses_dif'] = ufc_raw['b_losses'] - ufc_raw['r_losses']
ufc_raw['draws_dif'] = ufc_raw['b_draws'] - ufc_raw['r_draws']
ufc_raw['total_fights_dif'] = ufc_raw['b_total_fights'] - ufc_raw['r_total_fights']

# Streak differences
ufc_raw['current_win_streak_dif'] = ufc_raw['b_current_win_streak'] - ufc_raw['r_current_win_streak']
ufc_raw['current_lose_streak_dif'] = ufc_raw['b_current_lose_streak'] - ufc_raw['r_current_lose_streak']
ufc_raw['longest_win_streak_dif'] = ufc_raw['b_longest_win_streak'] - ufc_raw['r_longest_win_streak']
ufc_raw['longest_lose_streak_dif'] = ufc_raw['b_longest_lose_streak'] - ufc_raw['r_longest_lose_streak']

# Check results
ufc_raw[['date','r_name','b_name','winner_corner',
         'r_wins','r_losses','r_draws','r_total_fights',
         'b_wins','b_losses','b_draws','b_total_fights']].tail(15)

,date,r_name,b_name,winner_corner,r_wins,r_losses,r_draws,r_total_fights,b_wins,b_losses,b_draws,b_total_fights
8146,2025-06-28,Payton Talbott,Felipe Lima,Red,3,1,0,4,2,0,0,2
8147,2025-06-28,Beneil Dariush,Renato Moicano,Red,16,6,1,23,12,6,0,18
8148,2025-06-28,Hyder Amil,Jose Delgado,Blue,3,0,0,3,1,0,0,1
8149,2025-07-12,Derrick Lewis,Tallison Teixeira,Red,19,10,0,29,1,0,0,1
8150,2025-07-12,Nate Landwehr,Morgan Charriere,Blue,5,4,0,9,2,2,0,4
8151,2025-07-12,Calvin Kattar,Steve Garcia,Blue,7,7,0,14,6,2,0,8
8152,2025-07-12,Vitor Petrino,Austen Lane,Red,4,2,0,6,1,3,0,4
8153,2025-07-12,Stephen Thompson,Gabriel Bonfim,Blue,12,8,1,21,4,1,0,5
8154,2025-07-12,Max Griffin,Chris Curtis,Blue,8,9,0,17,5,4,0,9
8155,2025-07-12,Mitch Ramirez,Mike Davis,Blue,0,1,0,1,4,2,0,6
8156,2025-07-12,Jake Matthews,Chidi Njokuani,Red,14,7,0,21,5,3,0,8
8157,2025-07-12,Kennedy Nzechukwu,Valter Walker,Blue,8,5,0,13,2,1,0,3
8158,2025-07-12,Fatima Kline,Melissa Martinez,Red,1,1,0,2,1,1,0,2
8159,2025-07-12,Junior Tafa,Tuco Tokkos,Blue,2,3,0,5,0,2,0,2
8160,2025-07-12,Lauren Murphy,Eduarda Moura,Blue,8,6,0,14,2,1,0,3

## Checking

In [20]:
ufc_raw[
    (ufc_raw['r_name'] == 'Jon Jones') | (ufc_raw['b_name'] == 'Jon Jones')
][['date','r_name','b_name','winner_corner',
               'r_wins','r_losses','r_total_fights','r_current_win_streak',
               'r_current_lose_streak','r_longest_win_streak','r_longest_lose_streak',
               'b_wins','b_losses','b_total_fights','b_current_win_streak',
               'b_current_lose_streak','b_longest_win_streak','b_longest_lose_streak']].head(15)

,date,r_name,b_name,winner_corner,r_wins,r_losses,r_total_fights,r_current_win_streak,r_current_lose_streak,r_longest_win_streak,r_longest_lose_streak,b_wins,b_losses,b_total_fights,b_current_win_streak,b_current_lose_streak,b_longest_win_streak,b_longest_lose_streak
957,2008-08-09,Jon Jones,Andre Gusmao,Red,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1058,2009-01-31,Jon Jones,Stephan Bonnar,Red,1,0,1,1,0,1,0,5,3,8,2,0,3,2
1151,2009-07-11,Jon Jones,Jake O'Brien,Red,2,0,2,2,0,2,0,4,2,6,1,0,3,2
1236,2009-12-05,Matt Hamill,Jon Jones,Red,6,2,8,2,0,3,1,3,0,3,3,0,3,0
1299,2010-03-21,Brandon Vera,Jon Jones,Blue,7,4,11,0,1,4,2,3,1,4,0,1,3,1
1401,2010-08-01,Jon Jones,Vladimir Matyushenko,Red,4,1,5,1,0,3,1,5,2,7,2,0,2,1
1532,2011-02-05,Jon Jones,Ryan Bader,Red,5,1,6,2,0,3,1,5,0,5,5,0,5,0
1568,2011-03-19,Mauricio Rua,Jon Jones,Blue,3,2,5,1,0,2,1,6,1,7,3,0,3,1
1704,2011-09-24,Jon Jones,Quinton Jackson,Red,7,1,8,4,0,4,1,7,2,9,2,0,3,1
1788,2011-12-10,Jon Jones,Lyoto Machida,Red,8,1,9,5,0,5,1,9,2,11,1,0,8,2
1894,2012-04-21,Jon Jones,Rashad Evans,Red,9,1,10,6,0,6,1,12,1,14,4,0,5,1
2038,2012-09-22,Jon Jones,Vitor Belfort,Red,10,1,11,7,0,7,1,10,5,15,2,0,3,2
2256,2013-04-27,Jon Jones,Chael Sonnen,Red,11,1,12,8,0,8,1,6,5,11,0,1,3,2
2396,2013-09-21,Jon Jones,Alexander Gustafsson,Red,12,1,13,9,0,9,1,7,1,8,6,0,6,1
2662,2014-04-26,Jon Jones,Glover Teixeira,Red,13,1,14,10,0,10,1,5,0,5,5,0,5,0

## Remove Draws

In [21]:
ufc_raw = ufc_raw[ufc_raw['winner_corner_bin'] != 2].copy()

## Create Historical Wins By KO/TKO, Wins By Decision, Wins By Submission

In [22]:
ufc_raw['method'].unique()

array(['Submission', 'KO/TKO', "TKO - Doctor's Stoppage",
       'Decision - Unanimous', 'Decision - Split', 'Decision - Majority',
       'DQ'], dtype=object)

In [23]:
# Drop disqualification fights before tracking (23 rows)
ufc_raw = ufc_raw[ufc_raw['method'] != 'DQ'].reset_index(drop=True)

In [24]:
# Initialize new columns for method-specific outcomes
for corner in ['r', 'b']:
    for result in ['wins', 'losses']:
        for method in ['ko', 'sub', 'dec']:
            ufc_raw[f"{corner}_{result}_{method}"] = 0

# Dictionary to keep track of method-specific history
method_history = {}

# Loop through fights
for idx, row in ufc_raw.iterrows():
    for corner in ['r', 'b']:
        fighter = row[f"{corner}_name"]

        # Initialize fighter history if not present
        if fighter not in method_history:
            method_history[fighter] = {
                'wins_ko': 0, 'wins_sub': 0, 'wins_dec': 0,
                'losses_ko': 0, 'losses_sub': 0, 'losses_dec': 0
            }

        # Save prior stats
        for result in ['wins', 'losses']:
            for method in ['ko', 'sub', 'dec']:
                ufc_raw.at[idx, f"{corner}_{result}_{method}"] = method_history[fighter][f"{result}_{method}"]

        # Update history with the result of the current fight
        # Determine if fighter won
        fighter_won = ((row['winner_corner'] == 'Red' and corner == 'r') or
                       (row['winner_corner'] == 'Blue' and corner == 'b'))

        if fighter_won:
            if row['method'] in ['KO/TKO', "TKO - Doctor's Stoppage"]:
                method_history[fighter]['wins_ko'] += 1
            elif row['method'] == 'Submission':
                method_history[fighter]['wins_sub'] += 1
            elif row['method'] in ['Decision - Unanimous', 'Decision - Split', 'Decision - Majority']:
                method_history[fighter]['wins_dec'] += 1

        elif row['winner_corner'] in ['Red', 'Blue']:  # lost
            if row['method'] in ['KO/TKO', "TKO - Doctor's Stoppage"]:
                method_history[fighter]['losses_ko'] += 1
            elif row['method'] == 'Submission':
                method_history[fighter]['losses_sub'] += 1
            elif row['method'] in ['Decision - Unanimous', 'Decision - Split', 'Decision - Majority']:
                method_history[fighter]['losses_dec'] += 1

# Wins by method differences
ufc_raw['ko_wins_dif'] = ufc_raw['b_wins_ko'] - ufc_raw['r_wins_ko']
ufc_raw['sub_wins_dif'] = ufc_raw['b_wins_sub'] - ufc_raw['r_wins_sub']
ufc_raw['dec_wins_dif'] = ufc_raw['b_wins_dec'] - ufc_raw['r_wins_dec']

# Losses by method differences
ufc_raw['ko_losses_dif'] = ufc_raw['b_losses_ko'] - ufc_raw['r_losses_ko']
ufc_raw['sub_losses_dif'] = ufc_raw['b_losses_sub'] - ufc_raw['r_losses_sub']
ufc_raw['dec_losses_dif'] = ufc_raw['b_losses_dec'] - ufc_raw['r_losses_dec']

# Quick check
ufc_raw[['date','r_name','b_name','winner_corner','method',
               'r_wins_ko','r_wins_sub','r_wins_dec','r_losses_ko','r_losses_sub','r_losses_dec',
               'b_wins_ko','b_wins_sub','b_wins_dec','b_losses_ko','b_losses_sub','b_losses_dec']].tail(15)

,date,r_name,b_name,winner_corner,method,r_wins_ko,r_wins_sub,r_wins_dec,r_losses_ko,r_losses_sub,r_losses_dec,b_wins_ko,b_wins_sub,b_wins_dec,b_losses_ko,b_losses_sub,b_losses_dec
8066,2025-06-28,Payton Talbott,Felipe Lima,Red,Decision - Unanimous,2,1,0,0,0,1,0,1,1,0,0,0
8067,2025-06-28,Beneil Dariush,Renato Moicano,Red,Decision - Unanimous,3,5,8,5,1,0,2,6,4,3,2,1
8068,2025-06-28,Hyder Amil,Jose Delgado,Blue,KO/TKO,2,0,1,0,0,0,1,0,0,0,0,0
8069,2025-07-12,Derrick Lewis,Tallison Teixeira,Red,KO/TKO,15,0,4,7,2,1,1,0,0,0,0,0
8070,2025-07-12,Nate Landwehr,Morgan Charriere,Blue,KO/TKO,1,2,2,3,0,1,2,0,0,0,0,2
8071,2025-07-12,Calvin Kattar,Steve Garcia,Blue,Decision - Unanimous,4,0,3,1,0,6,6,0,0,1,0,1
8072,2025-07-12,Vitor Petrino,Austen Lane,Red,Submission,1,1,2,1,1,0,0,0,1,3,0,0
8073,2025-07-12,Stephen Thompson,Gabriel Bonfim,Blue,Decision - Split,6,0,6,2,1,5,0,3,1,1,0,0
8074,2025-07-12,Max Griffin,Chris Curtis,Blue,Decision - Split,3,0,5,1,1,7,3,0,2,1,0,3
8075,2025-07-12,Mitch Ramirez,Mike Davis,Blue,KO/TKO,0,0,0,1,0,0,1,1,2,0,1,1
8076,2025-07-12,Jake Matthews,Chidi Njokuani,Red,Submission,2,5,7,1,3,3,3,0,2,2,0,1
8077,2025-07-12,Kennedy Nzechukwu,Valter Walker,Blue,Submission,6,1,1,2,1,2,0,2,0,0,0,1
8078,2025-07-12,Fatima Kline,Melissa Martinez,Red,KO/TKO,1,0,0,0,0,1,0,0,1,0,0,1
8079,2025-07-12,Junior Tafa,Tuco Tokkos,Blue,Submission,2,0,0,1,1,1,0,0,0,0,1,1
8080,2025-07-12,Lauren Murphy,Eduarda Moura,Blue,Decision - Unanimous,2,1,5,1,0,5,1,0,1,0,0,1

In [25]:
ufc_raw[
    (ufc_raw['r_name'] == 'Jon Jones') | (ufc_raw['b_name'] == 'Jon Jones')
][['date','r_name','b_name','winner_corner',
               'r_wins','r_losses','r_total_fights', 'r_wins_ko','r_wins_sub','r_wins_dec',
               'b_wins','b_losses','b_total_fights', 'b_wins_ko','b_wins_sub','b_wins_dec']].head(15)

,date,r_name,b_name,winner_corner,r_wins,r_losses,r_total_fights,r_wins_ko,r_wins_sub,r_wins_dec,b_wins,b_losses,b_total_fights,b_wins_ko,b_wins_sub,b_wins_dec
947,2008-08-09,Jon Jones,Andre Gusmao,Red,0,0,0,0,0,0,0,0,0,0,0,0
1048,2009-01-31,Jon Jones,Stephan Bonnar,Red,1,0,1,0,0,1,5,3,8,1,2,2
1141,2009-07-11,Jon Jones,Jake O'Brien,Red,2,0,2,0,0,2,4,2,6,1,0,3
1286,2010-03-21,Brandon Vera,Jon Jones,Blue,7,4,11,4,1,2,3,1,4,0,1,2
1387,2010-08-01,Jon Jones,Vladimir Matyushenko,Red,4,1,5,1,1,2,5,2,7,1,0,4
1515,2011-02-05,Jon Jones,Ryan Bader,Red,5,1,6,2,1,2,5,0,5,2,0,3
1550,2011-03-19,Mauricio Rua,Jon Jones,Blue,3,2,5,3,0,0,6,1,7,2,2,2
1686,2011-09-24,Jon Jones,Quinton Jackson,Red,7,1,8,3,2,2,7,2,9,3,0,4
1770,2011-12-10,Jon Jones,Lyoto Machida,Red,8,1,9,3,3,2,9,2,11,3,1,5
1874,2012-04-21,Jon Jones,Rashad Evans,Red,9,1,10,3,4,2,12,1,14,5,0,7
2017,2012-09-22,Jon Jones,Vitor Belfort,Red,10,1,11,3,4,3,10,5,15,8,2,0
2234,2013-04-27,Jon Jones,Chael Sonnen,Red,11,1,12,3,5,3,6,5,11,0,1,5
2374,2013-09-21,Jon Jones,Alexander Gustafsson,Red,12,1,13,4,5,3,7,1,8,3,2,2
2636,2014-04-26,Jon Jones,Glover Teixeira,Red,13,1,14,4,5,4,5,0,5,2,2,1
2995,2015-01-03,Jon Jones,Daniel Cormier,Red,14,1,15,4,5,5,4,0,4,1,1,2

In [26]:
ufc_raw[
    (ufc_raw['r_name'] == 'Jon Jones') | (ufc_raw['b_name'] == 'Jon Jones')
][['date','r_name','b_name','winner_corner',
               'r_wins','r_losses','r_total_fights','r_losses_ko','r_losses_sub','r_losses_dec',
               'b_wins','b_losses','b_total_fights','b_losses_ko','b_losses_sub','b_losses_dec']].head(15)

,date,r_name,b_name,winner_corner,r_wins,r_losses,r_total_fights,r_losses_ko,r_losses_sub,r_losses_dec,b_wins,b_losses,b_total_fights,b_losses_ko,b_losses_sub,b_losses_dec
947,2008-08-09,Jon Jones,Andre Gusmao,Red,0,0,0,0,0,0,0,0,0,0,0,0
1048,2009-01-31,Jon Jones,Stephan Bonnar,Red,1,0,1,0,0,0,5,3,8,0,0,3
1141,2009-07-11,Jon Jones,Jake O'Brien,Red,2,0,2,0,0,0,4,2,6,2,0,0
1286,2010-03-21,Brandon Vera,Jon Jones,Blue,7,4,11,1,0,3,3,1,4,0,0,0
1387,2010-08-01,Jon Jones,Vladimir Matyushenko,Red,4,1,5,0,0,0,5,2,7,1,0,1
1515,2011-02-05,Jon Jones,Ryan Bader,Red,5,1,6,0,0,0,5,0,5,0,0,0
1550,2011-03-19,Mauricio Rua,Jon Jones,Blue,3,2,5,0,1,1,6,1,7,0,0,0
1686,2011-09-24,Jon Jones,Quinton Jackson,Red,7,1,8,0,0,0,7,2,9,0,0,2
1770,2011-12-10,Jon Jones,Lyoto Machida,Red,8,1,9,0,0,0,9,2,11,1,0,1
1874,2012-04-21,Jon Jones,Rashad Evans,Red,9,1,10,0,0,0,12,1,14,1,0,0
2017,2012-09-22,Jon Jones,Vitor Belfort,Red,10,1,11,0,0,0,10,5,15,3,0,2
2234,2013-04-27,Jon Jones,Chael Sonnen,Red,11,1,12,0,0,0,6,5,11,1,4,0
2374,2013-09-21,Jon Jones,Alexander Gustafsson,Red,12,1,13,0,0,0,7,1,8,0,1,0
2636,2014-04-26,Jon Jones,Glover Teixeira,Red,13,1,14,0,0,0,5,0,5,0,0,0
2995,2015-01-03,Jon Jones,Daniel Cormier,Red,14,1,15,0,0,0,4,0,4,0,0,0

## Create Historical Age columns

In [27]:
ufc_raw['r_dob'] = pd.to_datetime(ufc_raw['r_dob'], errors='coerce')
ufc_raw['b_dob'] = pd.to_datetime(ufc_raw['b_dob'], errors='coerce')
ufc_raw['r_dob']

0             NaT
1      1963-08-28
2      1966-12-12
3      1969-07-24
4             NaT
          ...
8076   1994-08-19
8077   1992-06-13
8078   2000-07-12
8079   1996-09-21
8080   1983-07-27
Name: r_dob, Length: 8081, dtype: datetime64[ns]

In [28]:
# Calculate fighter ages at the time of the fight
ufc_raw['r_age'] = np.floor((ufc_raw['date'] - ufc_raw['r_dob']).dt.days / 365.25)
ufc_raw['b_age'] = np.floor((ufc_raw['date'] - ufc_raw['b_dob']).dt.days / 365.25)

# Add age difference (Red - Blue)
ufc_raw['age_dif'] = ufc_raw['b_age'] - ufc_raw['r_age']

# Check results
ufc_raw[['date','r_name','r_age','b_name','b_age','age_dif']].tail(15)

           date             r_name  r_age             b_name  b_age  age_dif
8066 2025-06-28     Payton Talbott   26.0        Felipe Lima   27.0      1.0
8067 2025-06-28     Beneil Dariush   36.0     Renato Moicano   36.0      0.0
8068 2025-06-28         Hyder Amil   35.0       Jose Delgado   27.0     -8.0
8069 2025-07-12      Derrick Lewis   40.0  Tallison Teixeira   25.0    -15.0
8070 2025-07-12      Nate Landwehr   37.0   Morgan Charriere   29.0     -8.0
8071 2025-07-12      Calvin Kattar   37.0       Steve Garcia   33.0     -4.0
8072 2025-07-12      Vitor Petrino   27.0        Austen Lane   37.0     10.0
8073 2025-07-12   Stephen Thompson   42.0     Gabriel Bonfim   27.0    -15.0
8074 2025-07-12        Max Griffin   39.0       Chris Curtis   37.0     -2.0
8075 2025-07-12      Mitch Ramirez   32.0         Mike Davis   32.0      0.0
8076 2025-07-12      Jake Matthews   30.0     Chidi Njokuani   36.0      6.0
8077 2025-07-12  Kennedy Nzechukwu   33.0      Valter Walker   27.0     -6.0
8078 2025-07-12       Fatima Kline   24.0   Melissa Martinez   27.0      3.0
8079 2025-07-12        Junior Tafa   28.0        Tuco Tokkos   35.0      7.0
8080 2025-07-12      Lauren Murphy   41.0      Eduarda Moura   31.0    -10.0

## Checking

In [29]:
ufc_raw[
    (ufc_raw['r_name'] == 'Jon Jones') | (ufc_raw['b_name'] == 'Jon Jones')
][['date','r_name','b_name','winner_corner',
               'r_wins','r_losses', 'r_age', 'b_age', 'age_dif']]

,date,r_name,b_name,winner_corner,r_wins,r_losses,r_age,b_age,age_dif
947,2008-08-09,Jon Jones,Andre Gusmao,Red,0,0,21.0,31.0,10.0
1048,2009-01-31,Jon Jones,Stephan Bonnar,Red,1,0,21.0,31.0,10.0
1141,2009-07-11,Jon Jones,Jake O'Brien,Red,2,0,21.0,24.0,3.0
1286,2010-03-21,Brandon Vera,Jon Jones,Blue,7,4,32.0,22.0,-10.0
1387,2010-08-01,Jon Jones,Vladimir Matyushenko,Red,4,1,23.0,39.0,16.0
1515,2011-02-05,Jon Jones,Ryan Bader,Red,5,1,23.0,27.0,4.0
1550,2011-03-19,Mauricio Rua,Jon Jones,Blue,3,2,29.0,23.0,-6.0
1686,2011-09-24,Jon Jones,Quinton Jackson,Red,7,1,24.0,33.0,9.0
1770,2011-12-10,Jon Jones,Lyoto Machida,Red,8,1,24.0,33.0,9.0
1874,2012-04-21,Jon Jones,Rashad Evans,Red,9,1,24.0,32.0,8.0
2017,2012-09-22,Jon Jones,Vitor Belfort,Red,10,1,25.0,35.0,10.0
2234,2013-04-27,Jon Jones,Chael Sonnen,Red,11,1,25.0,36.0,11.0
2374,2013-09-21,Jon Jones,Alexander Gustafsson,Red,12,1,26.0,26.0,0.0
2636,2014-04-26,Jon Jones,Glover Teixeira,Red,13,1,26.0,34.0,8.0
2995,2015-01-03,Jon Jones,Daniel Cormier,Red,14,1,27.0,35.0,8.0
3584,2016-04-23,Jon Jones,Ovince Saint Preux,Red,15,1,28.0,33.0,5.0
4834,2018-12-29,Jon Jones,Alexander Gustafsson,Red,16,1,31.0,31.0,0.0
4907,2019-03-02,Jon Jones,Anthony Smith,Red,17,1,31.0,30.0,-1.0
5092,2019-07-06,Jon Jones,Thiago Santos,Red,18,1,31.0,35.0,4.0
5376,2020-02-08,Jon Jones,Dominick Reyes,Red,19,1,32.0,30.0,-2.0
6873,2023-03-04,Jon Jones,Ciryl Gane,Red,20,1,35.0,32.0,-3.0
7764,2024-11-16,Jon Jones,Stipe Miocic,Red,21,1,37.0,42.0,5.0

## Clean _acc

In [30]:
ufc_raw[['r_sig_str_landed', 'r_sig_str_atmpted', 'r_sig_str_acc',  'r_clinch_landed', 'r_clinch_atmpted', 'r_clinch_acc']]

,r_sig_str_landed,r_sig_str_atmpted,r_sig_str_acc,r_clinch_landed,r_clinch_atmpted,r_clinch_acc
0,13.0,29.0,44.0,1.0,2.0,50.0
1,13.0,17.0,76.0,1.0,1.0,100.0
2,0.0,0.0,NaN,0.0,0.0,NaN
3,3.0,5.0,60.0,0.0,0.0,NaN
4,4.0,6.0,66.0,0.0,0.0,NaN
...,...,...,...,...,...,...
8076,3.0,7.0,42.0,1.0,2.0,50.0
8077,0.0,0.0,NaN,0.0,0.0,NaN
8078,92.0,181.0,50.0,12.0,14.0,86.0
8079,24.0,38.0,63.0,10.0,10.0,100.0
8080,38.0,145.0,26.0,4.0,5.0,80.0

In [31]:
# Column categories que tienen landed/attempted/acc
categories = [
    "sig_str", "total_str", "td", 
    "head", "body", "leg", 
    "dist", "clinch", "ground"
]
for corner in ['r', 'b']:
    for cat in categories:
        landed_col = f"{corner}_{cat}_landed"
        att_col = f"{corner}_{cat}_atmpted"
        acc_col = f"{corner}_{cat}_acc"
        
        if landed_col in ufc_raw.columns and att_col in ufc_raw.columns:
            # accuracy = landed/attempted * 100, pero 0 si attempted == 0
            ufc_raw[acc_col] = np.where(
                ufc_raw[att_col] > 0,
                (ufc_raw[landed_col] / ufc_raw[att_col]) * 100,
                0
            ).round(3)

In [32]:
ufc_raw[['r_sig_str_landed', 'r_sig_str_atmpted', 'r_sig_str_acc', 'r_clinch_landed', 'r_clinch_atmpted', 'r_clinch_acc']]

,r_sig_str_landed,r_sig_str_atmpted,r_sig_str_acc,r_clinch_landed,r_clinch_atmpted,r_clinch_acc
0,13.0,29.0,44.828,1.0,2.0,50.000
1,13.0,17.0,76.471,1.0,1.0,100.000
2,0.0,0.0,0.000,0.0,0.0,0.000
3,3.0,5.0,60.000,0.0,0.0,0.000
4,4.0,6.0,66.667,0.0,0.0,0.000
...,...,...,...,...,...,...
8076,3.0,7.0,42.857,1.0,2.0,50.000
8077,0.0,0.0,0.000,0.0,0.0,0.000
8078,92.0,181.0,50.829,12.0,14.0,85.714
8079,24.0,38.0,63.158,10.0,10.0,100.000
8080,38.0,145.0,26.207,4.0,5.0,80.000

## Checkpoint

In [33]:
ufc_raw.to_csv("../data/processed/ufc_etl.csv", index=False)

In [34]:
ufc_raw = pd.read_csv("../data/processed/ufc_etl.csv")

## Recalculate UFCStats Features

## üìå UFC Stats Features

Let $T$ be the total fight duration in seconds (`match_time_sec`), then the time in minutes is:

$$
M = \frac{T}{60}
$$

---

### 1. Significant Strikes Landed per Minute (SLpM)

$$
SLpM = \frac{\text{Significant Strikes Landed}}{M}
$$

---

### 2. Significant Striking Accuracy (Str. Acc.)

$$
Str.\ Acc. = \frac{\text{Significant Strikes Landed}}{\text{Significant Strikes Attempted}} \times 100
$$

---

### 3. Significant Strikes Absorbed per Minute (SApM)

$$
SApM = \frac{\text{Opponent Significant Strikes Landed}}{M}
$$

---

### 4. Significant Strike Defense (Str. Def.)

$$
Str.\ Def. = \Big( 1 - \frac{\text{Opponent Significant Strikes Landed}}{\text{Opponent Significant Strikes Attempted}} \Big) \times 100
$$

---

### 5. Average Takedowns Landed per 15 Minutes (TD Avg.)

$$
TD\ Avg. = \frac{\text{Takedowns Landed}}{M} \times 15
$$

---

### 6. Takedown Accuracy (TD Acc.)

$$
TD\ Acc. = \frac{\text{Takedowns Landed}}{\text{Takedowns Attempted}} \times 100
$$

---

### 7. Takedown Defense (TD Def.)

$$
TD\ Def. = \Big( 1 - \frac{\text{Opponent Takedowns Landed}}{\text{Opponent Takedowns Attempted}} \Big) \times 100
$$

---

### 8. Average Submissions Attempted per 15 Minutes (Sub. Avg.)

$$
Sub.\ Avg. = \frac{\text{Submission Attempts}}{M} \times 15
$$

In [35]:
def add_ufcstats_metrics(df):
    for corner in ['r', 'b']:
        opp = 'b' if corner == 'r' else 'r'
        prefix = f"{corner}_"
        opp_prefix = f"{opp}_"
        
        minutes = df["match_time_sec"] / 60
        
        # SLpM - Significant Strikes Landed per Minute
        df[f"{prefix}SLpM"] = np.where(
            minutes > 0,
            df[f"{prefix}sig_str_landed"] / minutes,
            0
        ).round(3)

        # Str. Acc. - Significant Striking Accuracy
        df[f"{prefix}Str_Acc"] = np.where(
            df[f"{prefix}sig_str_atmpted"] > 0,
            (df[f"{prefix}sig_str_landed"] / df[f"{prefix}sig_str_atmpted"]) * 100,
            0
        ).round(3)

        # SApM - Significant Strikes Absorbed per Minute
        df[f"{prefix}SApM"] = np.where(
            minutes > 0,
            df[f"{opp_prefix}sig_str_landed"] / minutes,
            0
        ).round(3)

        # Str. Def. - Significant Strike Defence
        df[f"{prefix}Str_Def"] = np.where(
            df[f"{opp_prefix}sig_str_atmpted"] > 0,
            (1 - df[f"{opp_prefix}sig_str_landed"] / df[f"{opp_prefix}sig_str_atmpted"]) * 100,
            0
        ).round(3)

        # TD Avg. - Takedowns Landed per 15 minutes
        df[f"{prefix}TD_Avg"] = np.where(
            minutes > 0,
            (df[f"{prefix}td_landed"] / minutes) * 15,
            0
        ).round(3)

        # TD Acc. - Takedown Accuracy
        df[f"{prefix}TD_Acc"] = np.where(
            df[f"{prefix}td_atmpted"] > 0,
            (df[f"{prefix}td_landed"] / df[f"{prefix}td_atmpted"]) * 100,
            0
        ).round(3)

        # TD Def. - Takedown Defense
        df[f"{prefix}TD_Def"] = np.where(
            df[f"{opp_prefix}td_atmpted"] > 0,
            (1 - df[f"{opp_prefix}td_landed"] / df[f"{opp_prefix}td_atmpted"]) * 100,
            0
        ).round(3)

        # Sub. Avg. - Submissions Attempted per 15 minutes
        df[f"{prefix}Sub_Avg"] = np.where(
            minutes > 0,
            (df[f"{prefix}sub_att"] / minutes) * 15,
            0
        ).round(3)

    return df

# Apply to dataframe
ufc_raw = add_ufcstats_metrics(ufc_raw)

In [36]:
check_cols = [
    'r_SLpM', 'r_Str_Acc', 'r_SApM', 'r_Str_Def',
    'r_TD_Avg', 'r_TD_Acc', 'r_TD_Def', 'r_Sub_Avg',
    'b_SLpM', 'b_Str_Acc', 'b_SApM', 'b_Str_Def',
    'b_TD_Avg', 'b_TD_Acc', 'b_TD_Def', 'b_Sub_Avg'
]

df_check = ufc_raw[check_cols].head(20)
df_check

,r_SLpM,r_Str_Acc,r_SApM,r_Str_Def,r_TD_Avg,r_TD_Acc,r_TD_Def,r_Sub_Avg,b_SLpM,b_Str_Acc,b_SApM,b_Str_Def,b_TD_Avg,b_TD_Acc,b_TD_Def,b_Sub_Avg
0,4.171,44.828,1.283,42.857,0.000,0.0,0.0,4.813,1.283,57.143,4.171,55.172,0.000,0.0,0.0,0.000
1,26.000,76.471,0.000,0.000,0.000,0.0,100.0,0.000,0.000,0.000,26.000,23.529,0.000,0.0,0.0,0.000
2,0.000,0.000,0.000,0.000,0.000,0.0,0.0,13.433,0.000,0.000,0.000,0.000,13.433,100.0,0.0,0.000
3,0.449,60.000,0.000,100.000,0.000,0.0,0.0,11.222,0.000,0.000,0.449,40.000,2.244,100.0,100.0,0.000
4,0.406,66.667,0.102,66.667,1.523,100.0,0.0,1.523,0.102,33.333,0.406,33.333,0.000,0.0,0.0,0.000
5,0.900,64.706,0.327,20.000,1.228,100.0,0.0,0.000,0.327,80.000,0.900,35.294,0.000,0.0,0.0,0.000
6,2.824,66.667,0.706,66.667,0.000,0.0,0.0,0.000,0.706,33.333,2.824,33.333,5.294,100.0,0.0,5.294
7,4.478,41.667,3.582,55.556,0.000,0.0,0.0,13.433,3.582,44.444,4.478,58.333,0.000,0.0,0.0,0.000
8,0.390,50.000,0.584,57.143,2.922,100.0,0.0,5.844,0.584,42.857,0.390,50.000,0.000,0.0,0.0,0.000
9,1.034,100.000,1.034,0.000,0.000,0.0,0.0,15.517,1.034,100.000,1.034,0.000,0.000,0.0,100.0,0.000
10,3.117,100.000,0.779,50.000,11.688,50.0,0.0,0.000,0.779,50.000,3.117,0.000,0.000,0.0,50.0,0.000
11,0.411,66.667,0.000,0.000,3.082,100.0,100.0,9.247,0.000,0.000,0.411,33.333,0.000,0.0,0.0,0.000
12,0.000,0.000,0.000,0.000,9.890,50.0,0.0,9.890,0.000,0.000,0.000,0.000,0.000,0.0,50.0,0.000
13,3.000,100.000,0.000,100.000,45.000,100.0,0.0,45.000,0.000,0.000,3.000,0.000,0.000,0.0,0.0,0.000
14,4.719,100.000,0.674,50.000,10.112,100.0,0.0,0.000,0.674,50.000,4.719,0.000,0.000,0.0,0.0,0.000
15,0.876,100.000,0.657,0.000,3.285,50.0,0.0,3.285,0.657,100.000,0.876,0.000,0.000,0.0,50.0,0.000
16,4.138,54.545,1.379,66.667,10.345,100.0,0.0,0.000,1.379,33.333,4.138,45.455,0.000,0.0,0.0,10.345
17,1.661,88.889,0.208,50.000,3.114,100.0,0.0,0.000,0.208,50.000,1.661,11.111,0.000,0.0,0.0,0.000
18,0.429,33.333,1.286,33.333,0.000,0.0,0.0,3.214,1.286,66.667,0.429,66.667,3.214,100.0,100.0,0.000
19,11.739,75.000,3.913,25.000,0.000,0.0,50.0,0.000,3.913,75.000,11.739,25.000,19.565,50.0,100.0,0.000

In [37]:
# Ensure chronological order
ufc_raw['date'] = pd.to_datetime(ufc_raw['date'])
ufc_raw = ufc_raw.sort_values('date').reset_index(drop=True)

# UFCStats official metrics
metrics = ['SLpM', 'Str_Acc', 'SApM', 'Str_Def', 
           'TD_Avg', 'TD_Acc', 'TD_Def', 'Sub_Avg']

# Initialize new columns (without low_sample flags)
for corner in ['r', 'b']:
    for m in metrics:
        for w in ['last_3', 'last_5', 'career']:
            ufc_raw[f"{corner}_{m}_{w}"] = np.nan

# History dict to track fighters' past metrics
history = {}

# Iterate chronologically over fights
for idx, row in ufc_raw.iterrows():
    for corner in ['r', 'b']:
        fighter = row[f"{corner}_name"]
        
        # Initialize history if new fighter
        if fighter not in history:
            history[fighter] = {m: [] for m in metrics}
        
        # Compute historical averages BEFORE this fight
        for m in metrics:
            past_values = history[fighter][m]
            if past_values:
                # last_3
                ufc_raw.at[idx, f"{corner}_{m}_last_3"] = np.mean(past_values[-3:])
                # last_5
                ufc_raw.at[idx, f"{corner}_{m}_last_5"] = np.mean(past_values[-5:])
                # career
                ufc_raw.at[idx, f"{corner}_{m}_career"] = np.mean(past_values)
            else:
                # No previous fights ‚Üí 0 values
                ufc_raw.at[idx, f"{corner}_{m}_last_3"] = 0
                ufc_raw.at[idx, f"{corner}_{m}_last_5"] = 0
                ufc_raw.at[idx, f"{corner}_{m}_career"] = 0
        
        # Add this fight's metrics to history
        for m in metrics:
            col = f"{corner}_{m}"
            if col in ufc_raw.columns and not pd.isna(row[col]):
                history[fighter][m].append(row[col])

# Quick check of the new columns
ufc_raw[[c for c in ufc_raw.columns if 'SLpM' in c]].tail(10)

,r_SLpM,b_SLpM,r_SLpM_last_3,r_SLpM_last_5,r_SLpM_career,b_SLpM_last_3,b_SLpM_last_5,b_SLpM_career
8071,0.000,4.444,12.880000,13.3404,19.728692,2.730000,2.730000,2.730000
8072,2.609,4.348,12.733333,13.5060,10.662048,17.885333,13.690600,17.870625
8073,11.800,12.800,5.857333,7.8744,12.333824,27.098333,21.615200,19.356889
8074,5.434,2.491,13.829667,10.3206,10.320600,3.603500,3.603500,3.603500
8075,0.703,0.703,7.038000,8.1250,8.070833,20.519333,16.670000,16.670000
8076,5.200,17.000,38.066667,33.8000,31.767143,14.474333,18.133800,14.865375
8077,140.000,148.889,10.036000,12.7214,14.258000,20.140667,16.793750,16.793750
8078,15.429,5.143,28.371000,17.8954,12.904897,13.714000,13.714000,13.714000
8079,8.400,8.000,19.101000,12.9806,13.532550,11.939333,9.860800,9.860800
8080,7.600,12.800,14.383333,13.0812,12.622357,11.440667,11.440667,11.440667

In [38]:
# Ensure chronological order
ufc_raw['date'] = pd.to_datetime(ufc_raw['date'])
ufc_raw = ufc_raw.sort_values('date').reset_index(drop=True)

# Extra detailed metrics
extra_metrics = [
    'sig_str_landed', 'sig_str_atmpted', 
    'total_str_landed', 'total_str_atmpted', 'total_str_acc',
    'td_landed', 'td_atmpted',
    'sub_att', 'ctrl',
    'head_landed', 'head_atmpted', 'head_acc',
    'body_landed', 'body_atmpted', 'body_acc',
    'leg_landed', 'leg_atmpted', 'leg_acc',
    'dist_landed', 'dist_atmpted', 'dist_acc',
    'clinch_landed', 'clinch_atmpted', 'clinch_acc',
    'ground_landed', 'ground_atmpted', 'ground_acc',
    'landed_head_per', 'landed_body_per', 'landed_leg_per',
    'landed_dist_per', 'landed_clinch_per', 'landed_ground_per'
]

# === 1. Pre-create all new columns at once (without low_sample) ===
new_cols = {}
for corner in ['r', 'b']:
    for m in extra_metrics:
        for w in ['last_3', 'last_5']:
            new_cols[f"{corner}_{m}_{w}"] = np.nan

# Create auxiliary DataFrame with new columns
extra_df = pd.DataFrame(new_cols, index=ufc_raw.index)

# Concatenate once ‚Üí avoids fragmentation
ufc_raw = pd.concat([ufc_raw, extra_df], axis=1)

# === 2. Build fight history ===
history_extra = {}

# Iterate chronologically over fights
for idx, row in ufc_raw.iterrows():
    for corner in ['r', 'b']:
        fighter = row[f"{corner}_name"]

        # Initialize history if this is the first fight
        if fighter not in history_extra:
            history_extra[fighter] = {m: [] for m in extra_metrics}

        # Compute historical averages BEFORE the fight
        for m in extra_metrics:
            past_values = history_extra[fighter][m]
            if past_values:
                # last_3
                ufc_raw.at[idx, f"{corner}_{m}_last_3"] = np.mean(past_values[-3:])
                # last_5
                ufc_raw.at[idx, f"{corner}_{m}_last_5"] = np.mean(past_values[-5:])
            else:
                # No previous fights ‚Üí assign 0
                ufc_raw.at[idx, f"{corner}_{m}_last_3"] = 0
                ufc_raw.at[idx, f"{corner}_{m}_last_5"] = 0

        # Update history with current fight values
        for m in extra_metrics:
            col = f"{corner}_{m}"
            if col in ufc_raw.columns and not pd.isna(row[col]):
                history_extra[fighter][m].append(row[col])

# Quick check for clinch accuracy
ufc_raw[[c for c in ufc_raw.columns if 'clinch_acc_last_' in c]].tail(10)

,r_clinch_acc_last_3,r_clinch_acc_last_5,b_clinch_acc_last_3,b_clinch_acc_last_5
8071,82.777667,62.2380,77.778000,83.333500
8072,33.333333,40.0000,29.166667,37.500000
8073,33.333333,45.8334,20.000000,20.000000
8074,85.029333,71.0176,37.777667,22.666600
8075,76.666667,67.3334,77.027333,76.216400
8076,28.889000,33.8958,13.333333,13.333333
8077,87.500000,87.5000,37.500000,37.500000
8078,100.000000,100.0000,66.666667,70.317400
8079,44.444333,53.3332,45.238000,64.642800
8080,46.103667,57.5922,94.444333,94.444333

## Clean Stances

In [39]:
ufc_raw['r_stance'].unique()

array(['Orthodox', 'Southpaw', nan, 'Sideways', 'Switch', 'Open Stance'],
      dtype=object)

In [40]:
ufc_raw['b_stance'].unique()

array(['Southpaw', 'Orthodox', nan, 'Open Stance', 'Switch', 'Sideways'],
      dtype=object)

In [41]:
targets = ['Sideways', 'Open Stance']

print("R Stance problematic counts:")
print(ufc_raw['r_stance'].isin(targets).sum(), "Sideways/Open Stance")
print(ufc_raw['r_stance'].isna().sum(), "NaN")

print("\nB Stance problematic counts:")
print(ufc_raw['b_stance'].isin(targets).sum(), "Sideways/Open Stance")
print(ufc_raw['b_stance'].isna().sum(), "NaN")

R Stance problematic counts:
17 Sideways/Open Stance
26 NaN

B Stance problematic counts:
13 Sideways/Open Stance
67 NaN

In [42]:
# Mapear Sideways y Open Stance a Switch
ufc_raw['r_stance'] = ufc_raw['r_stance'].replace({'Sideways': 'Switch', 'Open Stance': 'Switch'})
ufc_raw['b_stance'] = ufc_raw['b_stance'].replace({'Sideways': 'Switch', 'Open Stance': 'Switch'})

# Opcional: eliminar filas con NaN en stances
ufc_raw = ufc_raw.dropna(subset=['r_stance', 'b_stance'])

print("R stance counts:")
print(ufc_raw['r_stance'].value_counts(dropna=False))
print("\nB stance counts:")
print(ufc_raw['b_stance'].value_counts(dropna=False))

R stance counts:
r_stance
Orthodox    5966
Southpaw    1582
Switch       452
Name: count, dtype: int64

B stance counts:
b_stance
Orthodox    6009
Southpaw    1530
Switch       461
Name: count, dtype: int64

# Save Data

In [43]:
# Save the cleaned file
ufc_raw.to_csv(f'{project_root}/data/processed/ufc_etl.csv', index=False)
logger.info("‚úÖ ETL file saved as 'ufc_etl.csv'.")

[INFO] ‚úÖ ETL file saved as 'ufc_etl.csv'.

# Load Data

In [44]:
# Define the path to the CSV file
file_path = os.path.join(project_root, 'data', 'processed', 'ufc_etl.csv')

# Load the CSV into a DataFrame
try:
    ufc_raw = pd.read_csv(file_path)
    logger.info(f"‚úÖ Data successfully loaded: {ufc_raw.shape[0]} rows, {ufc_raw.shape[1]} columns.")
except Exception as e:
    logger.error(f"‚ùå Error loading training data: {e}")

[INFO] ‚úÖ Data successfully loaded: 8000 rows, 347 columns.

# Check

In [45]:
pd.set_option('display.max_rows', None)

In [46]:
# Null values check
nulls = ufc_raw.isnull().sum()
print("\nNull values per column:\n", nulls[nulls > 0])

# Duplicate analysis
duplicates = ufc_raw.duplicated().sum()
print(f"\nDuplicate rows: {duplicates}")

Null values per column:
 total_rounds             22
referee                  25
r_kd                      6
r_sig_str_landed          6
r_sig_str_atmpted         6
r_total_str_landed        6
r_total_str_atmpted       6
r_td_landed               6
r_td_atmpted              6
r_sub_att                 6
r_ctrl                  164
r_head_landed             6
r_head_atmpted            6
r_body_landed             6
r_body_atmpted            6
r_leg_landed              6
r_leg_atmpted             6
r_dist_landed             6
r_dist_atmpted            6
r_clinch_landed           6
r_clinch_atmpted          6
r_ground_landed           6
r_ground_atmpted          6
r_landed_head_per         6
r_landed_body_per         6
r_landed_leg_per          6
r_landed_dist_per         6
r_landed_clinch_per       6
r_landed_ground_per       6
r_nick_name            2231
r_height                  1
r_reach                 360
r_dob                    43
b_kd                      6
b_sig_str_landed          6
b_sig_str_atmpted         6
b_total_str_landed        6
b_total_str_atmpted       6
b_td_landed               6
b_td_atmpted              6
b_sub_att                 6
b_ctrl                  164
b_head_landed             6
b_head_atmpted            6
b_body_landed             6
b_body_atmpted            6
b_leg_landed              6
b_leg_atmpted             6
b_dist_landed             6
b_dist_atmpted            6
b_clinch_landed           6
b_clinch_atmpted          6
b_ground_landed           6
b_ground_atmpted          6
b_landed_head_per         6
b_landed_body_per         6
b_landed_leg_per          6
b_landed_dist_per         6
b_landed_clinch_per       6
b_landed_ground_per       6
b_nick_name            2284
b_height                  7
b_weight                  5
b_reach                 816
b_dob                   146
r_age                    43
b_age                   146
age_dif                 162
r_SLpM                    6
r_SApM                    6
r_TD_Avg                  6
r_Sub_Avg                 6
b_SLpM                    6
b_SApM                    6
b_TD_Avg                  6
b_Sub_Avg                 6
dtype: int64

Duplicate rows: 0

# Drop Debut Fights

In [47]:
ufc_raw = ufc_raw[
    (ufc_raw['r_total_fights'] > 0) & 
    (ufc_raw['b_total_fights'] > 0)
]

print("Size after dropping debuts:", len(ufc_raw))

Size after dropping debuts: 5998

In [48]:
# Null values check
nulls = ufc_raw.isnull().sum()
print("\nNull values per column:\n", nulls[nulls > 0])

# Duplicate analysis
duplicates = ufc_raw.duplicated().sum()
print(f"\nDuplicate rows: {duplicates}")

Null values per column:
 total_rounds              7
referee                  19
r_kd                      3
r_sig_str_landed          3
r_sig_str_atmpted         3
r_total_str_landed        3
r_total_str_atmpted       3
r_td_landed               3
r_td_atmpted              3
r_sub_att                 3
r_ctrl                   69
r_head_landed             3
r_head_atmpted            3
r_body_landed             3
r_body_atmpted            3
r_leg_landed              3
r_leg_atmpted             3
r_dist_landed             3
r_dist_atmpted            3
r_clinch_landed           3
r_clinch_atmpted          3
r_ground_landed           3
r_ground_atmpted          3
r_landed_head_per         3
r_landed_body_per         3
r_landed_leg_per          3
r_landed_dist_per         3
r_landed_clinch_per       3
r_landed_ground_per       3
r_nick_name            1598
r_reach                 136
r_dob                     8
b_kd                      3
b_sig_str_landed          3
b_sig_str_atmpted         3
b_total_str_landed        3
b_total_str_atmpted       3
b_td_landed               3
b_td_atmpted              3
b_sub_att                 3
b_ctrl                   69
b_head_landed             3
b_head_atmpted            3
b_body_landed             3
b_body_atmpted            3
b_leg_landed              3
b_leg_atmpted             3
b_dist_landed             3
b_dist_atmpted            3
b_clinch_landed           3
b_clinch_atmpted          3
b_ground_landed           3
b_ground_atmpted          3
b_landed_head_per         3
b_landed_body_per         3
b_landed_leg_per          3
b_landed_dist_per         3
b_landed_clinch_per       3
b_landed_ground_per       3
b_nick_name            1613
b_height                  3
b_weight                  2
b_reach                 326
b_dob                    46
r_age                     8
b_age                    46
age_dif                  49
r_SLpM                    3
r_SApM                    3
r_TD_Avg                  3
r_Sub_Avg                 3
b_SLpM                    3
b_SApM                    3
b_TD_Avg                  3
b_Sub_Avg                 3
dtype: int64

Duplicate rows: 0

# Data Cleaning

## Null Values

In [49]:
# Drop columns with too many null values (threshold: 300)
threshold = 400
cols_to_drop = [col for col in ufc_raw.columns if ufc_raw[col].isnull().sum() > threshold]
for col in cols_to_drop:
    print('Dropping:', col)
ufc_raw.drop(columns=cols_to_drop, inplace=True)

# Drop rows with any remaining missing values
print(f"‚û°Ô∏è Before dropna: {ufc_raw.shape}")
ufc_raw.dropna(inplace=True)
print(f"‚úÖ After dropna: {ufc_raw.shape}")

Dropping: r_nick_name
Dropping: b_nick_name
‚û°Ô∏è Before dropna: (5998, 345)
‚úÖ After dropna: (5594, 345)

In [50]:
# Null values check
nulls = ufc_raw.isnull().sum()
print("\nNull values per column:\n", nulls[nulls > 0])

Null values per column:
 Series([], dtype: int64)

In [51]:
ufc_raw = ufc_raw.rename(columns={"winner_corner_bin": "label"})

# Save Data

In [52]:
# Save the cleaned file
ufc_raw.to_csv(f'{project_root}/data/processed/ufc_etl.csv', index=False)
logger.info("‚úÖ ETL file saved as 'ufc_etl.csv'.")

[INFO] ‚úÖ ETL file saved as 'ufc_etl.csv'.

# Load Data

In [53]:
# Define the path to the CSV file
file_path = os.path.join(project_root, 'data', 'processed', 'ufc_etl.csv')

# Load the CSV into a DataFrame
try:
    ufc_raw = pd.read_csv(file_path)
    logger.info(f"‚úÖ Data successfully loaded: {ufc_raw.shape[0]} rows, {ufc_raw.shape[1]} columns.")
except Exception as e:
    logger.error(f"‚ùå Error loading training data: {e}")

[INFO] ‚úÖ Data successfully loaded: 5594 rows, 345 columns.

# Initialize UFCData

In [54]:
ufc_data = UFCData(ufc_raw)

In [55]:
ufc_data

üìä UFC Dataset Summary
----------------------------------------
üß™ Total samples      : 5594
üß™ Train/Test split  : 4475 / 1119
üß™ Total features     : 344

üî¢ Numerical features : 325
üî† Categorical features: 19
    - Binary          : 1
    - Multiclass      : 18

üè∑ Label distribution (raw):
   - Class 0: 3391 (60.6%)
   - Class 1: 2203 (39.4%)

‚úÖ No missing values detected

üìà Feature summary statistics (train set):
                               mean      std     min       max
title_fight                   0.060    0.237    0.00     1.000
finish_round                  2.457    1.039    1.00     5.000
match_time_sec              229.610   91.478    5.00   300.000
total_rounds                  3.247    0.658    3.00     5.000
r_kd                          0.247    0.519    0.00     4.000
r_sig_str_landed             42.006   34.733    0.00   445.000
r_sig_str_atmpted            92.072   74.948    0.00   744.000
r_sig_str_acc                47.375   15.431    0.00   100.000
r_total_str_landed           61.029   46.919    0.00   447.000
r_total_str_atmpted         113.927   82.654    0.00   746.000
r_total_str_acc              54.162   16.622    0.00   100.000
r_td_landed                   1.198    1.855    0.00    21.000
r_td_atmpted                  3.035    3.842    0.00    30.000
r_sub_att                     0.376    0.790    0.00     7.000
r_ctrl                      146.771  189.157    0.00  1342.000
r_head_landed                26.516   24.260    0.00   274.000
r_head_atmpted               71.191   61.028    0.00   553.000
r_head_acc                   38.303   17.170    0.00   100.000
r_body_landed                 8.674    9.356    0.00   117.000
r_body_atmpted               12.489   12.933    0.00   133.000
r_body_acc                   63.927   29.908    0.00   100.000
r_leg_landed                  6.816    8.576    0.00    78.000
r_leg_atmpted                 8.392   10.520    0.00   101.000
r_leg_acc                    68.364   36.736    0.00   100.000
r_dist_landed                31.145   31.807    0.00   439.000
r_dist_atmpted               76.548   72.763    0.00   737.000
r_dist_acc                   40.531   15.987    0.00   100.000
r_clinch_landed               5.178    7.742    0.00    95.000
r_clinch_atmpted              7.343   10.429    0.00   115.000
r_clinch_acc                 52.697   37.713    0.00   100.000
r_ground_landed               5.683    9.855    0.00    97.000
r_ground_atmpted              8.181   14.200    0.00   136.000
r_ground_acc                 44.223   40.118    0.00   100.000
r_landed_head_per            61.794   22.215    0.00   100.000
r_landed_body_per            20.069   15.291    0.00   100.000
r_landed_leg_per             17.036   17.563    0.00   100.000
r_landed_dist_per            68.937   27.990    0.00   100.000
r_landed_clinch_per          12.811   16.368    0.00   100.000
r_landed_ground_per          17.328   24.598    0.00   100.000
r_height                    178.443    9.208  152.40   210.820
r_weight                     75.476   15.863   52.16   120.200
r_reach                     183.218   11.192  147.32   213.360
r_td_avg_acc                 39.330   16.244    0.00   100.000
b_kd                          0.212    0.495    0.00     4.000
b_sig_str_landed             38.260   32.632    0.00   241.000
b_sig_str_atmpted            88.029   71.658    0.00   495.000
b_sig_str_acc                44.366   15.985    0.00   100.000
b_total_str_landed           54.558   43.350    0.00   331.000
b_total_str_atmpted         106.780   78.841    0.00   497.000
b_total_str_acc              51.243   17.143    0.00   100.000
b_td_landed                   0.935    1.586    0.00    12.000
b_td_atmpted                  2.778    3.775    0.00    33.000
b_sub_att                     0.297    0.705    0.00     7.000
b_ctrl                      114.941  158.140    0.00  1193.000
b_head_landed                23.909   22.779    0.00   187.000
b_head_atmpted               68.462   58.636    0.00   395.000
b_head_acc                   34.777   17.259    0.00   100.000
b_body_landed                 7.897    8.628    0.00    89.000
b_body_atmpted               11.541   11.952    0.00   112.000
b_body_acc                   61.818   30.576    0.00   100.000
b_leg_landed                  6.454    8.152    0.00    95.000
b_leg_atmpted                 8.025    9.962    0.00   102.000
b_leg_acc                    67.340   36.826    0.00   100.000
b_dist_landed                29.246   29.529    0.00   225.000
b_dist_atmpted               75.082   68.841    0.00   447.000
b_dist_acc                   38.374   15.988    0.00   100.000
b_clinch_landed               4.918    6.877    0.00    65.000
b_clinch_atmpted              7.059    9.286    0.00    78.000
b_clinch_acc                 51.801   37.651    0.00   100.000
b_ground_landed               4.097    8.525    0.00   136.000
b_ground_atmpted              5.888   11.799    0.00   163.000
b_ground_acc                 38.670   40.544    0.00   100.000
b_landed_head_per            59.341   23.797    0.00   100.000
b_landed_body_per            19.975   16.236    0.00   100.000
b_landed_leg_per             18.011   18.899    0.00   100.000
b_landed_dist_per            71.564   27.621    0.00   100.000
b_landed_clinch_per          13.396   17.169    0.00   100.000
b_landed_ground_per          12.556   21.353    0.00   100.000
b_height                    178.488    8.998  152.40   210.820
b_weight                     75.334   15.744   52.16   120.200
b_reach                     183.034   10.763  147.32   213.360
b_td_avg_acc                 37.640   18.061    0.00   100.000
r_wins                        5.309    4.342    0.00    27.000
r_losses                      2.768    2.609    0.00    18.000
r_draws                       0.063    0.260    0.00     2.000
r_total_fights                8.140    6.456    1.00    44.000
r_current_win_streak          1.273    1.894    0.00    18.000
r_current_lose_streak         0.622    0.860    0.00     7.000
r_longest_win_streak          3.096    2.215    0.00    18.000
r_longest_lose_streak         1.378    0.968    0.00     7.000
b_wins                        3.912    3.605    0.00    26.000
b_losses                      2.182    2.121    0.00    16.000
b_draws                       0.046    0.216    0.00     2.000
b_total_fights                6.140    5.283    1.00    42.000
b_current_win_streak          1.263    1.517    0.00    12.000
b_current_lose_streak         0.525    0.782    0.00     5.000
b_longest_win_streak          2.425    1.859    0.00    16.000
b_longest_lose_streak         1.249    0.899    0.00     5.000
wins_dif                     -1.397    4.240  -21.00    19.000
losses_dif                   -0.586    3.058  -16.00    14.000
draws_dif                    -0.017    0.331   -2.00     2.000
total_fights_dif             -2.000    6.833  -35.00    27.000
current_win_streak_dif       -0.010    2.028  -18.00    10.000
current_lose_streak_dif      -0.097    0.956   -6.00     5.000
longest_win_streak_dif       -0.672    2.088  -12.00    14.000
longest_lose_streak_dif      -0.129    1.247   -6.00     5.000
r_wins_ko                     1.880    2.177    0.00    15.000
r_wins_sub                    1.069    1.654    0.00    16.000
r_wins_dec                    2.352    2.396    0.00    14.000
r_losses_ko                   0.834    1.173    0.00     8.000
r_losses_sub                  0.532    0.938    0.00     7.000
r_losses_dec                  1.394    1.663    0.00    12.000
b_wins_ko                     1.387    1.821    0.00    11.000
b_wins_sub                    0.816    1.371    0.00    16.000
b_wins_dec                    1.702    1.928    0.00    12.000
b_losses_ko                   0.627    0.954    0.00     7.000
b_losses_sub                  0.432    0.806    0.00     6.000
b_losses_dec                  1.118    1.411    0.00    11.000
ko_wins_dif                  -0.493    2.228  -14.00     9.000
sub_wins_dif                 -0.253    1.989  -16.00    15.000
dec_wins_dif                 -0.650    2.633  -14.00    11.000
ko_losses_dif                -0.207    1.383   -8.00     6.000
sub_losses_dif               -0.100    1.205   -7.00     6.000
dec_losses_dif               -0.276    2.047  -11.00    11.000
r_age                        30.755    4.221   18.00    46.000
b_age                        30.197    3.977   20.00    47.000
age_dif                      -0.558    5.272  -17.00    16.000
r_td_acc                     28.341   35.527    0.00   100.000
b_td_acc                     22.753   33.080    0.00   100.000
r_SLpM                       12.884   20.040    0.00   677.143
r_Str_Acc                    47.375   15.431    0.00   100.000
r_SApM                       11.400   16.940    0.00   480.000
r_Str_Def                    55.389   16.069    0.00   100.000
r_TD_Avg                      5.375   13.856    0.00   514.286
r_TD_Acc                     28.341   35.527    0.00   100.000
r_TD_Def                     40.666   41.829    0.00   100.000
r_Sub_Avg                     1.962    5.713    0.00   128.571
b_SLpM                       11.400   16.940    0.00   480.000
b_Str_Acc                    44.366   15.985    0.00   100.000
b_SApM                       12.884   20.040    0.00   677.143
b_Str_Def                    52.357   15.474    0.00   100.000
b_TD_Avg                      4.023    9.089    0.00   225.000
b_TD_Acc                     22.753   33.080    0.00   100.000
b_TD_Def                     39.279   40.205    0.00   100.000
b_Sub_Avg                     1.493    4.592    0.00    85.714
r_SLpM_last_3                12.506   10.619    0.00   184.800
r_SLpM_last_5                12.366    9.666    0.00   184.800
r_SLpM_career                11.935    8.731    0.00   184.800
r_Str_Acc_last_3             47.001   11.586    0.00   100.000
r_Str_Acc_last_5             47.285   10.669    0.00   100.000
r_Str_Acc_career             47.500   10.140    0.00   100.000
r_SApM_last_3                11.211    9.982    0.00   124.745
r_SApM_last_5                10.818    8.903    0.00   124.745
r_SApM_career                 9.933    7.944    0.00   124.745
r_Str_Def_last_3             55.251   11.791    0.00   100.000
r_Str_Def_last_5             55.668   10.902    0.00   100.000
r_Str_Def_career             56.468   10.326    0.00   100.000
r_TD_Avg_last_3               5.185    7.494    0.00   112.143
r_TD_Avg_last_5               5.283    6.808    0.00   108.000
r_TD_Avg_career               5.608    6.459    0.00   108.000
r_TD_Acc_last_3              28.555   24.888    0.00   100.000
r_TD_Acc_last_5              29.314   22.970    0.00   100.000
r_TD_Acc_career              31.166   21.731    0.00   100.000
r_TD_Def_last_3              41.429   28.115    0.00   100.000
r_TD_Def_last_5              41.841   25.496    0.00   100.000
r_TD_Def_career              42.329   23.836    0.00   100.000
r_Sub_Avg_last_3              2.206    4.734    0.00   150.000
r_Sub_Avg_last_5              2.303    4.520    0.00   150.000
r_Sub_Avg_career              2.560    4.422    0.00   150.000
b_SLpM_last_3                11.751   11.681    0.00   240.405
b_SLpM_last_5                11.726   10.313    0.00   236.456
b_SLpM_career                11.336    9.502    0.00   236.456
b_Str_Acc_last_3             46.981   12.073    0.00   100.000
b_Str_Acc_last_5             46.934   11.471    0.00   100.000
b_Str_Acc_career             47.008   11.183    0.00   100.000
b_SApM_last_3                10.526   11.204    0.00   234.617
b_SApM_last_5                10.447   10.378    0.00   185.722
b_SApM_career                 9.964    9.745    0.00   185.722
b_Str_Def_last_3             55.259   12.341    0.00   100.000
b_Str_Def_last_5             55.390   11.671    0.00   100.000
b_Str_Def_career             55.740   11.375    0.00   100.000
b_TD_Avg_last_3               4.973    7.909    0.00   200.000
b_TD_Avg_last_5               5.082    7.506    0.00   200.000
b_TD_Avg_career               5.208    7.219    0.00   200.000
b_TD_Acc_last_3              28.257   25.653    0.00   100.000
b_TD_Acc_last_5              28.580   24.116    0.00   100.000
b_TD_Acc_career              29.549   23.461    0.00   100.000
b_TD_Def_last_3              41.262   29.361    0.00   100.000
b_TD_Def_last_5              41.510   27.293    0.00   100.000
b_TD_Def_career              41.798   26.266    0.00   100.000
b_Sub_Avg_last_3              2.144    3.975    0.00    52.427
b_Sub_Avg_last_5              2.199    3.752    0.00    52.427
b_Sub_Avg_career              2.361    3.666    0.00    52.427
r_sig_str_landed_last_3      41.058   25.327    0.00   267.333
r_sig_str_landed_last_5      40.511   22.992    0.00   210.200
r_sig_str_atmpted_last_3     90.727   55.046    0.00   483.000
r_sig_str_atmpted_last_5     89.415   50.307    0.00   417.800
r_total_str_landed_last_3    59.553   33.499    0.00   286.333
r_total_str_landed_last_5    59.213   30.244    0.00   223.800
r_total_str_atmpted_last_3  111.885   60.431    0.00   505.000
r_total_str_atmpted_last_5  110.774   55.042    0.00   426.000
r_total_str_acc_last_3       53.995   12.314    0.00   100.000
r_total_str_acc_last_5       54.391   11.295    0.00   100.000
r_td_landed_last_3            1.165    1.315    0.00    11.000
r_td_landed_last_5            1.193    1.240    0.00    11.000
r_td_atmpted_last_3           2.941    2.942    0.00    25.000
r_td_atmpted_last_5           2.958    2.750    0.00    22.500
r_sub_att_last_3              0.407    0.609    0.00     5.500
r_sub_att_last_5              0.429    0.578    0.00     5.500
r_ctrl_last_3               143.853  134.473    0.00   975.000
r_ctrl_last_5               146.171  124.190    0.00   951.000
r_head_landed_last_3         26.166   17.368    0.00   173.333
r_head_landed_last_5         25.933   15.704    0.00   131.000
r_head_atmpted_last_3        70.650   44.683    0.00   391.000
r_head_atmpted_last_5        69.751   40.806    0.00   328.400
r_head_acc_last_3            38.299   12.344    0.00   100.000
r_head_acc_last_5            38.725   11.305    0.00   100.000
r_body_landed_last_3          8.357    6.872    0.00    75.000
r_body_landed_last_5          8.179    6.238    0.00    58.800
r_body_atmpted_last_3        11.986    9.431    0.00    91.667
r_body_atmpted_last_5        11.727    8.645    0.00    73.800
r_body_acc_last_3            63.402   20.384    0.00   100.000
r_body_acc_last_5            63.451   18.551    0.00   100.000
r_leg_landed_last_3           6.535    6.520    0.00    64.000
r_leg_landed_last_5           6.399    5.949    0.00    63.000
r_leg_atmpted_last_3          8.090    8.082    0.00    84.333
r_leg_atmpted_last_5          7.936    7.420    0.00    72.000
r_leg_acc_last_3             67.561   26.512    0.00   100.000
r_leg_acc_last_5             67.102   24.448    0.00   100.000
r_dist_landed_last_3         29.952   23.490    0.00   245.000
r_dist_landed_last_5         29.183   21.437    0.00   195.200
r_dist_atmpted_last_3        74.814   53.803    0.00   455.667
r_dist_atmpted_last_5        73.131   49.268    0.00   408.000
r_dist_acc_last_3            39.914   12.082    0.00   100.000
r_dist_acc_last_5            39.952   11.372    0.00   100.000
r_clinch_landed_last_3        5.369    5.470    0.00    61.000
r_clinch_landed_last_5        5.450    5.080    0.00    61.000
r_clinch_atmpted_last_3       7.655    7.354    0.00    77.000
r_clinch_atmpted_last_5       7.779    6.822    0.00    77.000
r_clinch_acc_last_3          53.472   25.335    0.00   100.000
r_clinch_acc_last_5          53.730   22.535    0.00   100.000
r_ground_landed_last_3        5.738    6.959    0.00    71.333
r_ground_landed_last_5        5.879    6.181    0.00    68.000
r_ground_atmpted_last_3       8.258   10.037    0.00   141.000
r_ground_atmpted_last_5       8.505    9.054    0.00   141.000
r_ground_acc_last_3          45.654   26.395    0.00   100.000
r_ground_acc_last_5          46.556   23.222    0.00   100.000
r_landed_head_per_last_3     62.136   16.535    0.00   100.000
r_landed_head_per_last_5     62.698   15.293    0.00   100.000
r_landed_body_per_last_3     19.527   11.028    0.00   100.000
r_landed_body_per_last_5     19.385   10.123    0.00   100.000
r_landed_leg_per_last_3      16.511   12.525    0.00   100.000
r_landed_leg_per_last_5      16.160   11.429    0.00   100.000
r_landed_dist_per_last_3     67.217   21.591    0.00   100.000
r_landed_dist_per_last_5     66.189   20.341    0.00   100.000
r_landed_clinch_per_last_3   13.602   12.187    0.00   100.000
r_landed_clinch_per_last_5   13.954   11.398    0.00   100.000
r_landed_ground_per_last_3   17.506   17.959    0.00   100.000
r_landed_ground_per_last_5   18.239   16.764    0.00   100.000
b_sig_str_landed_last_3      39.115   24.775    0.00   259.000
b_sig_str_landed_last_5      38.640   22.978    0.00   208.000
b_sig_str_atmpted_last_3     86.404   54.032    0.00   472.000
b_sig_str_atmpted_last_5     85.562   50.491    0.00   456.000
b_total_str_landed_last_3    57.857   33.111    0.00   269.667
b_total_str_landed_last_5    57.469   30.846    0.00   242.000
b_total_str_atmpted_last_3  107.904   59.582    0.00   524.000
b_total_str_atmpted_last_5  107.115   55.710    0.00   524.000
b_total_str_acc_last_3       54.347   13.036    0.00   100.000
b_total_str_acc_last_5       54.422   12.404    0.00   100.000
b_td_landed_last_3            1.135    1.331    0.00    11.000
b_td_landed_last_5            1.141    1.256    0.00    11.000
b_td_atmpted_last_3           2.858    2.921    0.00    25.333
b_td_atmpted_last_5           2.857    2.768    0.00    21.000
b_sub_att_last_3              0.423    0.655    0.00     8.000
b_sub_att_last_5              0.433    0.625    0.00     8.000
b_ctrl_last_3               139.389  131.735    0.00   919.000
b_ctrl_last_5               140.254  124.007    0.00   810.000
b_head_landed_last_3         24.999   16.950    0.00   149.000
b_head_landed_last_5         24.704   15.512    0.00   142.800
b_head_atmpted_last_3        67.373   43.868    0.00   397.000
b_head_atmpted_last_5        66.763   40.846    0.00   397.000
b_head_acc_last_3            38.125   12.813    0.00   100.000
b_head_acc_last_5            38.120   12.029    0.00   100.000
b_body_landed_last_3          8.002    6.890    0.00    70.000
b_body_landed_last_5          7.907    6.449    0.00    64.000
b_body_atmpted_last_3        11.469    9.516    0.00    87.333
b_body_atmpted_last_5        11.321    8.866    0.00    83.000
b_body_acc_last_3            63.001   21.835    0.00   100.000
b_body_acc_last_5            62.964   20.326    0.00   100.000
b_leg_landed_last_3           6.114    6.151    0.00    52.667
b_leg_landed_last_5           6.029    5.779    0.00    51.000
b_leg_atmpted_last_3          7.562    7.574    0.00    70.667
b_leg_atmpted_last_5          7.477    7.146    0.00    62.400
b_leg_acc_last_3             66.609   27.718    0.00   100.000
b_leg_acc_last_5             66.353   25.995    0.00   100.000
b_dist_landed_last_3         28.151   22.595    0.00   240.333
b_dist_landed_last_5         27.575   21.064    0.00   194.600
b_dist_atmpted_last_3        70.660   52.058    0.00   447.333
b_dist_atmpted_last_5        69.627   48.752    0.00   422.000
b_dist_acc_last_3            39.522   12.650    0.00   100.000
b_dist_acc_last_5            39.324   11.987    0.00   100.000
b_clinch_landed_last_3        5.478    5.863    0.00    84.000
b_clinch_landed_last_5        5.493    5.469    0.00    84.000
b_clinch_atmpted_last_3       7.788    7.839    0.00   105.000
b_clinch_atmpted_last_5       7.833    7.319    0.00   105.000
b_clinch_acc_last_3          53.922   26.265    0.00   100.000
b_clinch_acc_last_5          53.897   24.429    0.00   100.000
b_ground_landed_last_3        5.486    6.322    0.00    50.000
b_ground_landed_last_5        5.572    5.876    0.00    50.000

<div style="text-align: center;">
  üîπ <img src="../img/ufc_logo.png" width="50" /> üîπ
</div>

# Create column from Dates and Fighter names for the Dataset

# Load Data

In [57]:
# Define the path to the CSV file
file_path = os.path.join(project_root, 'data', 'raw', 'ufc_raw.csv')

# Load the CSV into a DataFrame
try:
    ufc_raw = pd.read_csv(file_path)
    logger.info(f"‚úÖ Data successfully loaded: {ufc_raw.shape[0]} rows, {ufc_raw.shape[1]} columns.")
except Exception as e:
    logger.error(f"‚ùå Error loading training data: {e}")

[INFO] ‚úÖ Data successfully loaded: 8250 rows, 124 columns.

## Transform Date to datetime64

In [30]:
ufc_raw['Date']

0       2024-12-14
1       2024-12-14
2       2024-12-14
3       2024-12-14
4       2024-12-14
           ...
6536    2010-03-21
6537    2010-03-21
6538    2010-03-21
6539    2010-03-21
6540    2010-03-21
Name: Date, Length: 6541, dtype: object

In [31]:
ufc_raw['Date'] = pd.to_datetime(ufc_raw['Date'], errors='coerce')

In [32]:
n_invalid = ufc_raw['Date'].isna().sum()
print(f" ‚úÖ Conversion completed. Invalid dates: {n_invalid}")

 ‚úÖ Conversion completed. Invalid dates: 0

In [33]:
ufc_raw['Date']

0      2024-12-14
1      2024-12-14
2      2024-12-14
3      2024-12-14
4      2024-12-14
          ...
6536   2010-03-21
6537   2010-03-21
6538   2010-03-21
6539   2010-03-21
6540   2010-03-21
Name: Date, Length: 6541, dtype: datetime64[ns]

In [34]:
# Ordenar por fecha ascendente
ufc_raw = ufc_raw.sort_values(by='Date').reset_index(drop=True)

In [35]:
ufc_raw['Date']

0      2010-03-21
1      2010-03-21
2      2010-03-21
3      2010-03-21
4      2010-03-21
          ...
6536   2024-12-14
6537   2024-12-14
6538   2024-12-14
6539   2024-12-14
6540   2024-12-14
Name: Date, Length: 6541, dtype: datetime64[ns]

In [36]:
ufc_raw['RedFighter'] = ufc_raw['RedFighter'].str.strip()
ufc_raw['BlueFighter'] = ufc_raw['BlueFighter'].str.strip()
ufc_raw

,RedFighter,BlueFighter,RedOdds,BlueOdds,RedExpectedValue,BlueExpectedValue,Date,Location,Country,Winner,...,FinishDetails,FinishRound,FinishRoundTime,TotalFightTimeSecs,RedDecOdds,BlueDecOdds,RSubOdds,BSubOdds,RKOOdds,BKOOdds
0,Eric Schafer,Jason Brilz,140.0,-160.0,140.0000,62.5000,2010-03-21,"Broomfield, Colorado, USA",USA,Blue,...,NaN,3.0,5:00,900.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Brandon Vera,Jon Jones,215.0,-235.0,215.0000,42.5532,2010-03-21,"Broomfield, Colorado, USA",USA,Blue,...,Elbow,1.0,3:19,199.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Junior Dos Santos,Gabriel Gonzaga,-250.0,230.0,40.0000,230.0000,2010-03-21,"Broomfield, Colorado, USA",USA,Red,...,Punches,1.0,3:53,233.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Cheick Kongo,Paul Buentello,-345.0,315.0,28.9855,315.0000,2010-03-21,"Broomfield, Colorado, USA",USA,Red,...,Elbows,3.0,1:16,676.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Alessio Sakara,James Irvin,-120.0,100.0,83.3333,100.0000,2010-03-21,"Broomfield, Colorado, USA",USA,Red,...,NaN,1.0,3:01,181.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6536,Miranda Maverick,Jamey-Lyn Horth,-625.0,455.0,16.0000,455.0000,2024-12-14,"Tampa, Florida, USA",USA,Red,...,NaN,3.0,5:00,900.0,-295.0,650.0,500.0,2500.0,1400.0,2200.0
6537,Davey Grant,Ramon Taveras,-122.0,102.0,81.9672,102.0000,2024-12-14,"Tampa, Florida, USA",USA,Red,...,NaN,3.0,5:00,900.0,225.0,350.0,750.0,800.0,350.0,300.0
6538,Josefine Knutsson,Piera Rodriguez,-245.0,200.0,40.8163,200.0000,2024-12-14,"Tampa, Florida, USA",USA,Blue,...,NaN,3.0,5:00,900.0,-175.0,300.0,1800.0,1400.0,800.0,1200.0
6539,Michael Johnson,Ottman Azaitar,-230.0,190.0,43.4783,190.0000,2024-12-14,"Tampa, Florida, USA",USA,Red,...,Punch,2.0,2:03,423.0,300.0,650.0,1000.0,2500.0,120.0,350.0
6540,Colby Covington,Joaquin Buckley,205.0,-250.0,205.0000,40.0000,2024-12-14,"Tampa, Florida, USA",USA,Blue,...,NaN,3.0,4:42,882.0,300.0,175.0,1800.0,2000.0,1100.0,150.0

## Create DaysSinceLastFight: Days since his last UFC fight

In [37]:
# Sort the DataFrame by ascending fight date
ufc_raw = ufc_raw.sort_values(by='Date').reset_index(drop=True)

# Dictionary to store each fighter's last fight date
last_fight_date_by_fighter = {}

# Lists to store the computed days since last fight
red_days_since_last_fight = []
blue_days_since_last_fight = []

# Iterate through each fight record
for idx, row in ufc_raw.iterrows():
    current_date = row['Date']
    red_fighter = row['RedFighter']
    blue_fighter = row['BlueFighter']

    # Days since last fight for Red corner
    red_last_date = last_fight_date_by_fighter.get(red_fighter, None)
    if red_last_date is None:
        red_days_since_last_fight.append(np.nan)
    else:
        red_days_since_last_fight.append((current_date - red_last_date).days)

    # Days since last fight for Blue corner
    blue_last_date = last_fight_date_by_fighter.get(blue_fighter, None)
    if blue_last_date is None:
        blue_days_since_last_fight.append(np.nan)
    else:
        blue_days_since_last_fight.append((current_date - blue_last_date).days)

    # Update last seen date for both fighters
    last_fight_date_by_fighter[red_fighter] = current_date
    last_fight_date_by_fighter[blue_fighter] = current_date

# Add the results as new columns in the dataframe
ufc_raw['RedDaysSinceLastFight'] = red_days_since_last_fight
ufc_raw['BlueDaysSinceLastFight'] = blue_days_since_last_fight

In [38]:
ufc_raw[['RedFighter', 'Date','RedDaysSinceLastFight']].sample(5)

                 RedFighter       Date  RedDaysSinceLastFight
4129  Karolina Kowalkiewicz 2020-02-22                  259.0
4777          Carlos Condit 2021-07-10                  175.0
4221      Aljamain Sterling 2020-06-06                  364.0
3369             Alex Perez 2018-08-04                  161.0
6000               Rob Font 2023-12-02                  119.0

In [39]:
ufc_raw[ufc_raw['RedFighter'] == 'Anderson Silva'][['RedFighter', 'Date', 'RedDaysSinceLastFight']]

          RedFighter       Date  RedDaysSinceLastFight
39    Anderson Silva 2010-04-10                    NaN
109   Anderson Silva 2010-08-07                  119.0
238   Anderson Silva 2011-02-05                  182.0
386   Anderson Silva 2011-08-27                  203.0
689   Anderson Silva 2012-07-07                  315.0
773   Anderson Silva 2012-10-13                   98.0
1019  Anderson Silva 2013-07-06                  266.0
2245  Anderson Silva 2016-02-27                  791.0
2696  Anderson Silva 2017-02-11                  217.0

## Create DaysSinceDebut column: Days since his first UFC fight

In [40]:
# Step 1: Build debut date dictionary for all fighters
debut_date_by_fighter = {}

# Iterate through the dataset chronologically
for idx, row in ufc_raw.iterrows():
    current_date = row['Date']
    red_fighter = row['RedFighter']
    blue_fighter = row['BlueFighter']

    # Store the first appearance date if not already present
    if red_fighter not in debut_date_by_fighter:
        debut_date_by_fighter[red_fighter] = current_date
    if blue_fighter not in debut_date_by_fighter:
        debut_date_by_fighter[blue_fighter] = current_date

# Step 2: Compute days since debut for Red and Blue corners
ufc_raw['RedDaysSinceDebut'] = ufc_raw.apply(
    lambda row: (row['Date'] - debut_date_by_fighter[row['RedFighter']]).days,
    axis=1
)

ufc_raw['BlueDaysSinceDebut'] = ufc_raw.apply(
    lambda row: (row['Date'] - debut_date_by_fighter[row['BlueFighter']]).days,
    axis=1
)

In [41]:
ufc_raw[ufc_raw['RedFighter'] == 'Anderson Silva'][['RedFighter', 'Date', 'RedDaysSinceLastFight', 'RedDaysSinceDebut']]

          RedFighter       Date  RedDaysSinceLastFight  RedDaysSinceDebut
39    Anderson Silva 2010-04-10                    NaN                  0
109   Anderson Silva 2010-08-07                  119.0                119
238   Anderson Silva 2011-02-05                  182.0                301
386   Anderson Silva 2011-08-27                  203.0                504
689   Anderson Silva 2012-07-07                  315.0                819
773   Anderson Silva 2012-10-13                   98.0                917
1019  Anderson Silva 2013-07-06                  266.0               1183
2245  Anderson Silva 2016-02-27                  791.0               2149
2696  Anderson Silva 2017-02-11                  217.0               2499

In [42]:
# Step 1: Create debut flags
ufc_raw['RedIsDebut'] = ufc_raw['RedDaysSinceLastFight'].isna().map({True: 'Yes', False: 'No'})
ufc_raw['BlueIsDebut'] = ufc_raw['BlueDaysSinceLastFight'].isna().map({True: 'Yes', False: 'No'})

# Step 2: Impute NaN with median value in the debut.
ufc_raw['RedDaysSinceLastFight'].fillna(180, inplace=True) 
ufc_raw['BlueDaysSinceLastFight'].fillna(180, inplace=True)

/tmp/ipykernel_13127/1337356144.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ufc_raw['RedDaysSinceLastFight'].fillna(180, inplace=True)
/tmp/ipykernel_13127/1337356144.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ufc_raw['BlueDaysSinceLastFight'].fillna(180, inplace=True)

In [43]:
ufc_raw[ufc_raw['RedFighter'] == 'Anderson Silva'][['RedFighter', 'Date', 'RedDaysSinceLastFight', 'RedDaysSinceDebut', 'RedIsDebut']]

,RedFighter,Date,RedDaysSinceLastFight,RedDaysSinceDebut,RedIsDebut
39,Anderson Silva,2010-04-10,180.0,0,Yes
109,Anderson Silva,2010-08-07,119.0,119,No
238,Anderson Silva,2011-02-05,182.0,301,No
386,Anderson Silva,2011-08-27,203.0,504,No
689,Anderson Silva,2012-07-07,315.0,819,No
773,Anderson Silva,2012-10-13,98.0,917,No
1019,Anderson Silva,2013-07-06,266.0,1183,No
2245,Anderson Silva,2016-02-27,791.0,2149,No
2696,Anderson Silva,2017-02-11,217.0,2499,No

## Create FightsInLastYear/FightsInLast6Months : Number of fights in the last year/6 months

In [44]:
from collections import defaultdict

# Dictionary of past fight dates for each fighter
fight_history = defaultdict(list)

# Output lists
red_fights_last_year = []
blue_fights_last_year = []

# Iterate over each row in chronological order
for idx, row in ufc_raw.iterrows():
    current_date = row['Date']
    red_fighter = row['RedFighter']
    blue_fighter = row['BlueFighter']

    # Count red's fights in the past 365 days
    red_past_fights = [d for d in fight_history[red_fighter] if 0 < (current_date - d).days <= 365]
    red_fights_last_year.append(len(red_past_fights))

    # Count blue's fights in the past 365 days
    blue_past_fights = [d for d in fight_history[blue_fighter] if 0 < (current_date - d).days <= 365]
    blue_fights_last_year.append(len(blue_past_fights))

    # Update fight history with current fight date
    fight_history[red_fighter].append(current_date)
    fight_history[blue_fighter].append(current_date)

# Add the new columns to the dataframe
ufc_raw['RedFightsInLastYear'] = red_fights_last_year
ufc_raw['BlueFightsInLastYear'] = blue_fights_last_year

In [45]:
from collections import defaultdict

# Dictionary to store past fight dates for each fighter
fight_history_6m = defaultdict(list)

# Output columns
red_fights_last_6m = []
blue_fights_last_6m = []

# Iterate through the dataset chronologically
for idx, row in ufc_raw.iterrows():
    current_date = row['Date']
    red_fighter = row['RedFighter']
    blue_fighter = row['BlueFighter']

    # Count red's fights in the past 183 days (6 months)
    red_past_fights = [d for d in fight_history_6m[red_fighter] if 0 < (current_date - d).days <= 183]
    red_fights_last_6m.append(len(red_past_fights))

    # Count blue's fights in the past 183 days (6 months)
    blue_past_fights = [d for d in fight_history_6m[blue_fighter] if 0 < (current_date - d).days <= 183]
    blue_fights_last_6m.append(len(blue_past_fights))

    # Update fight history with current fight
    fight_history_6m[red_fighter].append(current_date)
    fight_history_6m[blue_fighter].append(current_date)

# Assign to new columns
ufc_raw['RedFightsInLast6Months'] = red_fights_last_6m
ufc_raw['BlueFightsInLast6Months'] = blue_fights_last_6m

In [46]:
ufc_raw[ufc_raw['RedFighter'] == 'Anderson Silva'][['RedFighter', 'Date', 'RedDaysSinceLastFight', 'RedDaysSinceDebut', 'RedIsDebut', 'RedFightsInLastYear', 'RedFightsInLast6Months']]

,RedFighter,Date,RedDaysSinceLastFight,RedDaysSinceDebut,RedIsDebut,RedFightsInLastYear,RedFightsInLast6Months
39,Anderson Silva,2010-04-10,180.0,0,Yes,0,0
109,Anderson Silva,2010-08-07,119.0,119,No,1,1
238,Anderson Silva,2011-02-05,182.0,301,No,2,1
386,Anderson Silva,2011-08-27,203.0,504,No,1,0
689,Anderson Silva,2012-07-07,315.0,819,No,1,0
773,Anderson Silva,2012-10-13,98.0,917,No,1,1
1019,Anderson Silva,2013-07-06,266.0,1183,No,2,0
2245,Anderson Silva,2016-02-27,791.0,2149,No,0,0
2696,Anderson Silva,2017-02-11,217.0,2499,No,2,0

## Create DaysSinceLastWin : Number of fights in the last year/6 months

In [47]:
from collections import defaultdict

# Initialize win history tracker
last_win_date_by_fighter = {}

# Output columns
red_days_since_last_win = []
blue_days_since_last_win = []

# Iterate over ufc_raw in chronological order
for idx, row in ufc_raw.iterrows():
    date = row['Date']
    red = row['RedFighter']
    blue = row['BlueFighter']
    winner = row['Winner']  # Should be 'Red', 'Blue' or 'Draw'

    # Red corner
    red_last_win_date = last_win_date_by_fighter.get(red, None)
    if red_last_win_date is None:
        red_days_since_last_win.append(np.nan)
    else:
        red_days_since_last_win.append((date - red_last_win_date).days)

    # Blue corner
    blue_last_win_date = last_win_date_by_fighter.get(blue, None)
    if blue_last_win_date is None:
        blue_days_since_last_win.append(np.nan)
    else:
        blue_days_since_last_win.append((date - blue_last_win_date).days)

    # Update win dates
    if winner == 'Red':
        last_win_date_by_fighter[red] = date
    elif winner == 'Blue':
        last_win_date_by_fighter[blue] = date
    # No update for draw

# Add to DataFrame
ufc_raw['RedDaysSinceLastWin'] = red_days_since_last_win
ufc_raw['BlueDaysSinceLastWin'] = blue_days_since_last_win

In [48]:
ufc_raw[ufc_raw['RedFighter'] == 'Anderson Silva'][['RedFighter', 'Date', 'RedDaysSinceLastFight', 'RedDaysSinceDebut', 'RedIsDebut', 'RedFightsInLastYear', 'RedFightsInLast6Months', 'RedDaysSinceLastWin']]

,RedFighter,Date,RedDaysSinceLastFight,RedDaysSinceDebut,RedIsDebut,RedFightsInLastYear,RedFightsInLast6Months,RedDaysSinceLastWin
39,Anderson Silva,2010-04-10,180.0,0,Yes,0,0,NaN
109,Anderson Silva,2010-08-07,119.0,119,No,1,1,119.0
238,Anderson Silva,2011-02-05,182.0,301,No,2,1,182.0
386,Anderson Silva,2011-08-27,203.0,504,No,1,0,203.0
689,Anderson Silva,2012-07-07,315.0,819,No,1,0,315.0
773,Anderson Silva,2012-10-13,98.0,917,No,1,1,98.0
1019,Anderson Silva,2013-07-06,266.0,1183,No,2,0,266.0
2245,Anderson Silva,2016-02-27,791.0,2149,No,0,0,1232.0
2696,Anderson Silva,2017-02-11,217.0,2499,No,2,0,1582.0

In [49]:
ufc_raw['RedDaysSinceLastWin'].median()

246.0

In [50]:
# FIll with median, moodel already know if it is the first fight of a fighter
ufc_raw['RedDaysSinceLastWin'].fillna(246, inplace=True)
ufc_raw['BlueDaysSinceLastWin'].fillna(246, inplace=True)

/tmp/ipykernel_13127/3507902234.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ufc_raw['RedDaysSinceLastWin'].fillna(246, inplace=True)
/tmp/ipykernel_13127/3507902234.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ufc_raw['BlueDaysSinceLastWin'].fillna(246, inplace=True)

In [51]:
ufc_raw[ufc_raw['RedFighter'] == 'Anderson Silva'][['RedFighter', 'Date', 'RedDaysSinceLastFight', 'RedDaysSinceDebut', 'RedIsDebut', 'RedFightsInLastYear', 'RedFightsInLast6Months', 'RedDaysSinceLastWin']]

,RedFighter,Date,RedDaysSinceLastFight,RedDaysSinceDebut,RedIsDebut,RedFightsInLastYear,RedFightsInLast6Months,RedDaysSinceLastWin
39,Anderson Silva,2010-04-10,180.0,0,Yes,0,0,246.0
109,Anderson Silva,2010-08-07,119.0,119,No,1,1,119.0
238,Anderson Silva,2011-02-05,182.0,301,No,2,1,182.0
386,Anderson Silva,2011-08-27,203.0,504,No,1,0,203.0
689,Anderson Silva,2012-07-07,315.0,819,No,1,0,315.0
773,Anderson Silva,2012-10-13,98.0,917,No,1,1,98.0
1019,Anderson Silva,2013-07-06,266.0,1183,No,2,0,266.0
2245,Anderson Silva,2016-02-27,791.0,2149,No,0,0,1232.0
2696,Anderson Silva,2017-02-11,217.0,2499,No,2,0,1582.0

In [52]:
# Save the cleaned file
ufc_raw.to_csv(f'{project_root}/data/raw/ufc_raw_dates_ft.csv', index=False)
logger.info("‚úÖ Raw with Date Features file saved as 'ufc_raw_dates_ft.csv'.")

[INFO] ‚úÖ Raw with Date Features file saved as 'ufc_raw_dates_ft.csv'.

<div style="text-align: center;">
     <img src="../img/ufc_logo.png" width="800" /> 
</div>